<div class="bd-toc mt-3 mb-3 my-lg-0 ps-xl-3 mb-lg-5 text-body-secondary" style="overflow: hidden;">
  <button class="btn btn-outline-primary p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none"
          type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
    Auf dieser Seite
    <svg class="bi d-md-none ms-2" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
  </button>
  <strong class="d-none d-md-block h6 my-2">Auf dieser Seite</strong>
  <hr class="d-none d-md-block my-2">
  <div class="collapse bd-toc-collapse" id="tocContents">
    <nav id="TableOfContents">
      <ul>
        <li *ngFor="let entry of entries">
          <a [routerLink]="'.'" [fragment]="entry.id">
            <span [innerHTML]="entry.label"></span>
          </a>
          <ul *ngIf="entry.subEntries.length > 0">
            <li *ngFor="let subEntry of entry.subEntries">
              <a [routerLink]="'.'" [fragment]="subEntry.id">
                <span [innerHTML]="subEntry.label"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
