<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="row">
    <div class="col-xl-12">
      <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true"
           class="scrollspy-example-2" tabindex="0">
        <div id="top" class="container row">
          <h1 class="mt-3">
            <fa-icon [icon]="'car'"></fa-icon>
            E-Mobilität
          </h1>
          <p>
            Elektromobilität ist weltweit der Schlüssel für klimafreundliche Mobilität und Innovation. Der Betrieb von
            Elektrofahrzeugen erzeugt insbesondere in Verbindung mit regenerativ erzeugtem Strom deutlich weniger
            CO<sub>2</sub>. Zusätzlich können Elektrofahrzeuge mit ihren Energiespeichern die Schwankungen von Wind-
            und Sonnenkraft künftig ausgleichen (siehe <a href="https://de.wikipedia.org/wiki/Vehicle_to_Grid">Vehicle-to-Grid</a>)
            und so den Ausbau und die Marktintegration dieser unsteten Energiequellen unterstützen. (Quelle: <a
            href="https://www.bmwk.de/Redaktion/DE/Dossier/elektromobilitaet.html">BMWK</a>)
          </p>

          <div class="row">
            <div class="col-xl-6">
              <jhi-card name="Ladepunkte" unit="" [icon]="'charging-station'" [valueNumberFormat]="'1.0-0'"
                [backgroundColor]="COLOR_ELECTRICITY"
                [comparisonText]="'Im Vergleich zum Vorjahr ' + yearLabels[yearLabels.length - 2]"
                [currentValue]="totalChargingPointsYearData[totalChargingPointsYearData.length - 1]"
                [previousValue]="totalChargingPointsYearData[totalChargingPointsYearData.length - 2]"></jhi-card>
            </div>
            <div class="col-xl-6">
              <jhi-card name="Ladepunktleistung" unit="kW" [icon]="'plug-circle-bolt'" [valueNumberFormat]="'1.1-1'"
                [backgroundColor]="COLOR_ELECTRICITY"
                [comparisonText]="'Im Vergleich zum Vorjahr ' + yearLabels[yearLabels.length - 2]"
                [currentValue]="totalChargingPowerYearData[totalChargingPowerYearData.length - 1]"
                [previousValue]="totalChargingPowerYearData[totalChargingPowerYearData.length - 2]"></jhi-card>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row col-xl-12">
            <h2 id="zubau-ladepunkte" class="mt-2">Zubau an Ladepunkten</h2>
            <p>
              Ein wichtigen Schritt zur Erreichung der Klimaziele ist daher der Ausbau der Ladeinfrastruktur. Es
              kommt
              bei den Ladepunkten sowohl auf die Leistung, mit der ein Fahrzeug geladen werden kann, als auch auf
              deren
              Anzahl. Je mehr Ladepunkte vorhanden sind, desto mehr Fahrzeuge können parallel geladen werden. Je
              höher
              deren Anschlussleistung, desto schneller sind die einzelnen Ladevorgänge.
            </p>
            <p>
              Die Bundesnetzagentur veröffentlicht einmal pro Monat (letzter
              Stand: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>) alle dort gemeldeten Ladepunkte für
              Deutschland.
            </p>
            <div class="alert alert-primary" role="alert">
              Die Daten der Bundesnetzagentur beinhalten die Ladeeinrichtungen aller Betreiberinnen und Betreiber,
              die
              das Anzeigeverfahren der Bundesnetzagentur vollständig abgeschlossen und einer Veröffentlichung im
              Internet zugestimmt haben. Die Zahl der öffentlich zugänglichen Ladeeinrichtungen in {{ STATE_CONFIG.label }} ist
              daher <strong>größer</strong> als hier dargestellt.
            </div>
            <p>
              Für {{ STATE_CONFIG.label }} ergebt sich daraus für den Zubau an einzelnen Ladepunkten für einen gegeben Zeitraum das
              folgende Diagramm.
            </p>
            <div class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="text-center mt-2">Zubau an Ladepunkten</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" [(ngModel)]="selectedTimeUnit"
                              (change)="bnetzaChargingPointsChartData = getBNetzAChartData('ChargingPoints')"
                              [clearable]="false"></ng-select>
                </div>
              </div>
              <canvas baseChart height="400"
                      [data]="bnetzaChargingPointsChartData" [options]="bnetzaChargingPointsChartOptions"
                      [type]="'bar'">
              </canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a
                href="{{ BNETZA_SOURCE!.url }}">Ladesäulenregister der Bundesnetzagentur</a>
                (letztes Update: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>)
              </p>
            </div>
          </div>
        </div>
        <div id="zubau-ladepunktleistung" class="container">
          <div class="row col-xl-12">
            <h2>Zubau an Ladeleistung</h2>
            <p>
              Neben der reinen Anzahl an Ladepunkten ist auch die Ladeleistung, also wie schnell ein Auto geladen
              werden
              kann sehr relevant. In {{ yearLabels[yearLabels.length - 1] }} sind insgesamt
              mindestens {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1] | number : '1.1-1' }}
              kW an Ladeleistung in {{ STATE_CONFIG.label }} installiert. Daraus ergibt sich eine mittlere Ladeleistung
              von {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1] /
            timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 1] | number : '1.1-1' }} kW pro
              Ladepunkt.
              Letztes Jahr lag diese mittlere Ladeleistung
              bei {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 2] /
            timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 2] | number : '1.1-1' }} kW pro
              Ladepunkt.
            </p>
            <div *ngIf="chargingStationStatisticsForInterval" class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="text-center mt-2">Zubau an Ladeleistung (kW)</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" [(ngModel)]="selectedTimeUnit"
                              (change)="bnetzaChargingPowerChartData = getBNetzAChartData('ChargingPoints')"
                              [clearable]="false"></ng-select>
                </div>
              </div>
              <canvas baseChart height="400"
                      [data]="bnetzaChargingPowerChartData" [options]="bnetzaChargingPowerChartOptions"
                      [type]="'bar'">
              </canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a
                href="{{ BNETZA_SOURCE!.url }}">Ladesäulenregister der Bundesnetzagentur</a>
                (letztes Update: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>)
              </p>
            </div>
          </div>
        </div>
        <div id="betreibende" class="container" *ngIf="CHARGING_STATIONS_OPERATORS">
          <div class="row">
            <div class="col-xl-12">
              <h2>Betreibende</h2>
              <p class="mb-0">
                Der Zubau wird aktuell von {{ CHARGING_STATIONS_OPERATORS.operators.length }} Betreibenden vorangetrieben.
                Betreibende haben zur Zeit:
              </p>
              <ul class="mt-2">
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "power" : "asc")[0])["power"] | number }}
                  kW und
                  {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "power" : "desc")[0])["power"] | number }}
                  kW Anschlussleistung
                </li>
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "points" : 'asc')[0])["points"] }}
                  und
                  {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "points" : 'desc')[0])["points"] }}
                  Ladepunkte und
                </li>
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "average" : 'asc')[0])["average"] | number }}
                  kW und
                  {{ ((CHARGING_STATIONS_OPERATORS.operators | orderBy : "average" : 'desc')[0])["average"] | number }}
                  kW durchschnittlicher Anschlussleistung
                </li>
              </ul>
              <p>In den letzten 12 Monaten bewegen sich die Werte zwischen</p>
              <ul *ngIf="CHARGING_STATIONS_OPERATORS_CURRENT_YEAR">
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'power' : 'asc')[0])["power"] | number }}
                  kW und
                  {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'power' : 'desc')[0])['power'] | number }}
                  kW Anschlussleistung
                  ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'power' : 'desc')[0])['operator'] }})
                </li>
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'points' : 'asc')[0])["points"] }}
                  und
                  {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'points' : 'desc')[0])['points'] }}
                  Ladepunkte
                  ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'points' : 'desc')[0])['operator'] }}) und
                </li>
                <li>
                  zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'average' : 'asc')[0])["average"] | number }}
                  kW und
                  {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'average' : 'desc')[0])['average'] | number }}
                  kW durchschnittlicher Anschlussleistung
                  ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR.operators | orderBy : 'average' : 'desc')[0])['operator'] }}).
                </li>
              </ul>
              <p>
                Eine genaue
                Aufschlüsselung der jeweiligen Ladeleistung und der Anzahl der Ladepunkte der einzelnen Betreibenden
                liefert
                die folgende Tabelle.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12" *ngIf="CHARGING_STATIONS_OPERATORS">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center mt-2 mb-4">
                    Anschlussleistung und Anzahl an Ladepunkten pro Betreiber
                  </h5>
                  <p-table [value]="CHARGING_STATIONS_OPERATORS.operators" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="false"
                            styleClass="p-datatable-sm" sortField="Nennleistung Ladeeinrichtung" [sortOrder]="-1">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="operator">Name
                          <p-sortIcon field="operator"></p-sortIcon>
                        </th>
                        <th pSortableColumn="power">Anschlussleistung (kW)
                          <p-sortIcon field="power"></p-sortIcon>
                        </th>
                        <th pSortableColumn="points">Anzahl Ladepunkte
                          <p-sortIcon field="points"></p-sortIcon>
                        </th>
                        <th pSortableColumn="average">Ø Ladeleistung
                          <p-sortIcon field="average"></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-operator>
                      <tr>
                        <td>{{operator.operator}}</td>
                        <td>{{operator['power'] | number }}</td>
                        <td>{{operator['points'] | number }}</td>
                        <td>{{operator['average'] | number : '1.1-1' }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <p class="text-end mt-3 mb-0">
                    Quelle: <a
                    href="{{ BNETZA_SOURCE!.url }}">Ladesäulenregister der Bundesnetzagentur</a>
                    (letztes Update: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row col-xl-12">
            <h2 id="kreise-und-kreisfreie-staedte" class="mt-2">Kreise und kreisfreie Städte</h2>
            <p class="mb-0">Die Daten der Bundesnetzagentur lassen sich nicht nur nach Jahresscheiben gruppieren,
              sondern auch nach
              Kreisen und kreisfreien Städten. So lässt sich direkt sehen, übrigens auch auf die Bevölkerungszahl normiert („pro
              Kopf”-Button),
              welche Gebietskörperschaften am schnellsten mit dem Ausbau der E-Lademobilität vorankommen bzw. die
              größte Ladeleistung anbieten.</p>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="kreise-und-kreisfreie-staedte-ladeleistung" class="card-title text-center mt-2">
                  Aktuelle Ladeleistung (kW) der Kreise und kreisfreien Städte
                </h5>
                <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                    [selectedColors]="possibleColors[0]"
                                    [possibleColors]="possibleColors"
                                    [clustersCount]="7"
                                    [selectedClusterStatistic]="chargingPowerStatistics[0]"
                                    [possibleMapPropertyValues]="chargingPowerStatistics"
                                    [attribution]="chargingPowerMapAttribution"
                                    [administrationUnits]="administrationUnits">
                </jhi-choropleth-map>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a
                  href="{{ BNETZA_SOURCE!.url }}">Ladesäulenregister der Bundesnetzagentur</a> (letztes Update: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row col-xl-12">
            <p class="mb-0">Die gleiche Visualisierung ist selbstverständlich auch für die Anzahl an Ladepunkten
              (bzw. wieder
              normiert nach der Einwohnendenzahl, siehe „pro Kopf”-Button) verfügbar.</p>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="kreise-und-kreisfreie-staedte-ladepunkte" class="card-title text-center mt-2">
                  Anzahl der Ladepunkte der Kreise und kreisfreien Städte
                </h5>
                <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                    [selectedColors]="possibleColors[0]"
                                    [possibleColors]="possibleColors"
                                    [clustersCount]="7"
                                    [selectedClusterStatistic]="chargingPowerStatistics[1]"
                                    [possibleMapPropertyValues]="chargingPowerStatistics"
                                    [attribution]="chargingPowerMapAttribution"
                                    [administrationUnits]="administrationUnits">
                </jhi-choropleth-map>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a
                    href="{{ BNETZA_SOURCE!.url }}">Ladesäulenregister der Bundesnetzagentur</a> (letztes Update: <span *ngIf="latestChargingStation">{{ latestChargingStation.inbetriebnahmeDatum | formatMediumDate }}</span>)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row col-xl-12" id="kraftfahrtbundesamt">
            <h2>Analyse der Daten des Kraftfahrtbundesamtes</h2>
            <p>
              Die <a href="https://www.rwth-aachen.de/cms/~a/root/">RWTH Aachen</a> hat eine automatisierte
              Auswertung
              der Fahrzeugzulassungen des Kraftfahrtbundesamtes vorgenommen und als
              <a href="https://mobility-charts.rwth-aachen.de/">Mobility Charts</a>-Dashboard veröffentlicht. Dazu
              werden
              fortlaufend aktuelle Verkaufszahlen analysiert und daraus wichtige Kenngrößen wie Anzahl,
              Batteriekapazität und Anschlüsse der aktuellen Fahrzeugflotte schätzt.
            </p>
            <p>
              Das Dasboard, entwickelt von <a href="https://www.linkedin.com/in/jan-figgener-23546b111/">Jan
              Figgener</a>, Kai Gerd Spreuer,
              <a href="https://www.linkedin.com/in/christopher--hecht/">Christopher Hecht</a> und <a
              href="https://www.linkedin.com/in/dirk-uwe-sauer-6baa51205/">Prof. Dirk Uwe Sauer</a> des
              <a href="https://www.isea.rwth-aachen.de/cms/~ojnv/ISEA/">Instituts für Stromrichtertechnik und
                Elektrische Antriebe
                (ISEA)</a> enthält ebenfalls eine Auswertung auf Bundeslandebene. Das Projektteam hat mir erlaubt,
              diese Daten
              auch in mein Dashboard zu integrieren. Vielen dank dafür an das gesamte Team!
              <fa-icon icon="heart" [styles]="{ color : 'red' }"></fa-icon>
              Eine detaillierte Marktanalyse kann der <a href="https://www.mdpi.com/2624-8921/4/4/49">aktuellen
              Veröffentlichung</a> „Market Review and Technical Properties of Electric Vehicles
              in Germany” des Teams entnommen werden.
            </p>
            <p>
              Eine detaillierte Beschreibung zur Vorgehensweise der Analyse kann auf der
              <a href="https://mobility-charts.rwth-aachen.de/?page_id=165">Projektseite</a> der Mobility Charts
              nachgelesen
              werden.
            </p>
          </div>
          <div class="row col-xl-12">
            <h3 id="batterieelektrische-vs-plugin-hybride">Batterieelektrische Fahrzeugen & Plug-In-Hybride</h3>
            <p>
              Die Grafik zeigt die Bestandszahlen der letzten Jahre nach Art der PKW. Das Verhältnis von
              batterieelektrischen
              Fahrzeugen zu Plug-In-Hybride ist von <span class="badge text-bg-primary">
          1:{{
              chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 2] /
              chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 2] | number : '1.0-2'
              }}</span> in {{ yearLabels[yearLabels.length - 2] }}
              auf <span class="badge text-bg-primary">
          1:{{
              chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 1] /
              chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 1] | number : '1.0-2'
              }}</span>
              in {{ yearLabels[yearLabels.length - 1] }}
              {{
              (
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 1] /
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 1]
              )
              -
              (
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 2] /
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 2]
              ) > 0 ? "gestiegen" : "gesunken"
              }}.
            </p>
            <div class="card p-3" id="kraftfahrtbundesamt-batterieelektrische-vs-plugin-hybride">
              <div class="row">
                <h5 class="text-center mt-2">Batterieelektrische Fahrzeugen & Plug-In-Hybride</h5>
              </div>
              <canvas baseChart height="400"
                      [data]="chartData.MOBILITY_CHARTS_CAR_TYPE.data"
                      [options]="chartData.MOBILITY_CHARTS_CAR_TYPE.config" [type]="'line'"></canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a
                href="{{ BNETZA_SOURCE!.url }}">Bundesnetzagentur</a>
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row col-xl-12">
            <h2 id="methodik" class="mt-2">Methodik</h2>
            <div class="alert alert-primary" role="alert">
              Die Daten der Bundesnetzagentur beinhalten die Ladeeinrichtungen aller Betreiberinnen und Betreiber,
              die
              das Anzeigeverfahren der Bundesnetzagentur vollständig abgeschlossen und einer Veröffentlichung im
              Internet zugestimmt haben. Die Zahl der öffentlich zugänglichen Ladeeinrichtungen in Deutschland ist
              daher <strong>größer</strong> als hier dargestellt.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


