<div class="footer m-4 p-4">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p class="text-center">
        Die Klimadashboard-App für {{ STATE_CONFIG.label }} ermöglicht es allen die es wissen wollen, wie der aktuelle Stand in {{ STATE_CONFIG.label }}
        innerhalb der Energie-, Mobilitäts- und Ernährungswende ist.
      </p>
      <p class="text-center" >
        <a style="display: inline;" class="nav-link py-2 px-0 px-lg-2" href="https://gitlab.com/gerbsen/climate-dashboard" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="25" height="25" viewBox="0 0 512 512"><path d="M503.5 204.6L502.8 202.8L433.1 21.02C431.7 17.45 429.2 14.43 425.9 12.38C423.5 10.83 420.8 9.865 417.9 9.57C415 9.275 412.2 9.653 409.5 10.68C406.8 11.7 404.4 13.34 402.4 15.46C400.5 17.58 399.1 20.13 398.3 22.9L351.3 166.9H160.8L113.7 22.9C112.9 20.13 111.5 17.59 109.6 15.47C107.6 13.35 105.2 11.72 102.5 10.7C99.86 9.675 96.98 9.295 94.12 9.587C91.26 9.878 88.51 10.83 86.08 12.38C82.84 14.43 80.33 17.45 78.92 21.02L9.267 202.8L8.543 204.6C-1.484 230.8-2.72 259.6 5.023 286.6C12.77 313.5 29.07 337.3 51.47 354.2L51.74 354.4L52.33 354.8L158.3 434.3L210.9 474L242.9 498.2C246.6 500.1 251.2 502.5 255.9 502.5C260.6 502.5 265.2 500.1 268.9 498.2L300.9 474L353.5 434.3L460.2 354.4L460.5 354.1C482.9 337.2 499.2 313.5 506.1 286.6C514.7 259.6 513.5 230.8 503.5 204.6z"/></svg>
        </a>
        <a *ngIf="STATE_CONFIG.social.mastodon" style="display: inline;" class="nav-link py-2 px-0 px-lg-2" href="{{STATE_CONFIG.social.mastodon}}" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 448 512"><path d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"/></svg>
        </a>
      </p>
      <p class="text-center">
        Die Klimadashboard-App wird als <a href="https://gitlab.com/gerbsen/climate-dashboard">Hobbyprojekt entwickelt</a>.
        Es wird kein Anspruch auf Richtigkeit der Daten erhoben, wenn gleich doch alles unternommen wird um Quellen anzugeben
        und Berechnungen korrekt durchzuführen. Die App wurde mittels und als <a href="https://fsfe.org/freesoftware/freesoftware.de.html">Freie Software</a>
        entwickelt und kann von jedem/r verwendet, verbreitet, verstanden und verbessert werden.
      </p>
      <p class="text-center">
        <a href="{{STATE_CONFIG.imprintLink}}">Impressum</a> | <a href="{{STATE_CONFIG.dataProtectionLink}}">Datenschutzerklärung</a>
      </p>
    </div>
  </div>
</div>
