mgl-map {
  height: 500px;
  width: 100%;
}

.box {
  float: left;
  height: 15px;
  width: 15px;
  border: #ababab 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.gradient {
  background: rgb(69,167,0);
  background: linear-gradient(90deg, rgba(69,167,0,1) 0%, rgba(251,239,0,1) 50%, rgba(229,2,1,1) 100%);
  width: 50px;
  height: 15px;
  display: inline-block;
}

.maplibregl-shadow {
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}