<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="row">
    <div class="col-xl-12">
      <div>
        <div class="row">
          <div class="col-md-12">
            <h1><fa-icon icon="city"></fa-icon> {{ getAdministrationUnitName() }}</h1>
            <hr>
            <p *ngIf="parentAdministrationUnit && administrationUnit">
              <span *ngIf="parentAdministrationUnit!.bezeichnung !== 'Kreisfreie Stadt'">
                Die {{ getAdministrationUnitName() }} liegt im
                {{ parentAdministrationUnit!.nbd ? parentAdministrationUnit!.bezeichnung + " " + parentAdministrationUnit!.geografischernameGen : parentAdministrationUnit!.geografischernameGen }}.
              </span>
              <span *ngIf="parentAdministrationUnit!.bezeichnung === 'Kreisfreie Stadt'">
                Die {{ getAdministrationUnitName() }} ist eine Kreisfreie Stadt.
              </span>
              Am {{ getStatistic(administrationUnit, 'population_total')!.date | formatMediumDate }} hatte sie {{ getStatistic(administrationUnit, 'population_total')!.value | number }} Einwohnende.
              <span *ngIf="parentAdministrationUnit!.bezeichnung !== 'Kreisfreie Stadt'">
                Das entspricht {{ getPopulationPercentage(administrationUnit, parentAdministrationUnit) | number }}% der Einwohnenden des
                {{ parentAdministrationUnit!.nbd ? parentAdministrationUnit!.bezeichnung + " " + parentAdministrationUnit!.geografischernameGen : parentAdministrationUnit!.geografischernameGen }}.
              </span>
              Die Fläche erstreckt sich über {{ getStatistic(administrationUnit, 'area')!.value | number:'1.1-1' }} km², was {{ getAreaPercentage(administrationUnit, parentAdministrationUnit) | number }}% der Fläche des
                {{ parentAdministrationUnit!.nbd ? parentAdministrationUnit!.bezeichnung + " " + parentAdministrationUnit!.geografischernameGen : parentAdministrationUnit!.geografischernameGen }} entspricht.
                Die {{ getAdministrationUnitName() }} hat damit eine Bevölkerungsdichte von {{ getStatistic(administrationUnit, 'population_per_km2')!.value | number:'1.1-1' }} Personen pro km².
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 id="mastr-progress"><fa-icon icon="arrow-trend-up"></fa-icon> Entwicklung der Erneuerbaren</h2>
            <hr>
            <div id="mastr-progress-sun">
              <h3><fa-icon [icon]="'solar-panel'"></fa-icon> Photovoltaik</h3>
              <p *ngIf="sunChartData">
                Im Jahr {{ sunChartData.labels[sunChartData.labels.length - 1] }} wurde bisher eine PV-Bruttoleistung von {{ sunChartData.datasets[0].data[sunChartData.datasets[0].data.length - 1].y | number:'1.0-0' }} kW, also ungefähr {{ sunChartData.datasets[0].data[sunChartData.datasets[0].data.length - 1].y / 10 | number:'1.0-0' }} PV-Anlagen auf einem Einfamilienhaus, installiert. In Summe sind damit ingesamt ca. {{ sunChartData.datasets[1].data[sunChartData.datasets[1].data.length - 1].y | number:'1.0-0' }} kW installiert. 
                Die Ausbaugeschwindigkeit liegt damit für dieses Jahr bei {{ averageSunPerDay | number : '1.1-1' }} kW / Tag, im Vergleich zu dem gesamten letzten Jahr von {{ averageSunPerDayLastYear | number : '1.1-1' }} kW / Tag. Das entspricht einer Veränderung von {{  averageSunPerDay - averageSunPerDayLastYear | number:'1.1-1' }} kW / Tag.
                Die Stromerzeugung aus Photovoltaik verteilt sich auf die unterschiedlichen Größenklassen wie folgt:
              </p>
              <div class="row">
                <div class="col-md-3" *ngFor="let statistic of [
                    { key: '_0.0_1.0', icon: 'building', displayText: 'Balkone', range: 'bis 1 kW', unit: ''}, 
                    { key: '_1.0_10.0', icon: 'house', displayText: 'Dächer', range: '1 kW - 10 kW'}, 
                    { key: '_10.0_1000.0', icon: 'industry', displayText: 'Gewerbe', range: '10 kW - 1 MW'}, 
                    { key: '_1000.0_1000000.0', icon: 'solar-panel', displayText: 'Freiflächen', range: 'ab 1 MW'} ]">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        {{ getStatistic(administrationUnit, 'Solare Strahlungsenergie_sum' + statistic.key)?.value | number:'1.0-0' }} kW <fa-icon [icon]="'circle-info'" [size]="'2xs'" ngbTooltip="{{ statistic.range }}"></fa-icon>
                      </h5>
                      <p class="card-text">
                        <fa-icon [icon]="getIconProp(statistic.icon)"></fa-icon> {{ getStatistic(administrationUnit, 'Solare Strahlungsenergie_count' + statistic.key)?.value | number:'1.0-0' }} {{statistic.displayText}} <br>
                        Ø {{ getAveragePowerPerClass(administrationUnit!, statistic) }} 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <p *ngIf="sunChartData">
                Mit der aktuellen Ausbaugeschwindigkeit von {{ averageSunPerDay | number:'1.1-1' }} kW pro Tag werden dieses Jahr voraussichtlich ingesamt {{ 365 * averageSunPerDay | number:'1.1-1' }} kW hinzugekommen. Damit werden Ende des Jahres ungefähr {{ sunChartData.datasets[1].data[sunChartData.datasets[1].data.length - 1].y + (365 * averageSunPerDay) | number:'1.1-1' }} kW zur Verfügung stehen.
              </p>
              <jhi-statistics-for-timeinterval (newChartDataEvent)="addNewSunChartData($event)" [id]="'mastr-progress-sun'" [energySource]="'SOLAR_POWER'" [administrationUnit]="administrationUnit"></jhi-statistics-for-timeinterval>
              <div class="alert alert-primary" role="alert">
                <fa-icon [icon]="'triangle-exclamation'"></fa-icon> Achtung: Die aktuelle Ausbaugeschwindigkeit ist ein reiner Schätzwert. Er berechnet sich immer nur aus dem Zubau <b>bis zum aktuellen Datum dieses Jahres</b> und kann z.B. durch große ans Netz gehende Solarparks stark schwanken.
              </div>
            </div>
            <div id="mastr-progress-storage">
              <h3>Speicher</h3>
              <p *ngIf="batteryChartData">
                Im Jahr {{ batteryChartData.labels[batteryChartData.labels.length - 1] }} wurde eine Speicherleistung von {{ batteryChartData.datasets[0].data[batteryChartData.datasets[0].data.length - 1].y | number:'1.0-0' }} kW installiert.
                In Summe sind damit ingesamt ca. {{ batteryChartData.datasets[1].data[batteryChartData.datasets[1].data.length - 1].y | number:'1.0-0' }} kW installiert.
                Das entspricht einer Veränderung der Ausbaugeschwindigkeit zum Vorjahr von {{ batteryChartData.datasets[2].data[batteryChartData.datasets[2].data.length - 1].y | number:'1.0-0' }} kW.
              </p>
              <jhi-statistics-for-timeinterval (newChartDataEvent)="addNewBatteryChartData($event)" [id]="'mastr-progress-storage'" [energySource]="'STORAGE'" [administrationUnit]="administrationUnit"></jhi-statistics-for-timeinterval>
            </div>
          </div>
        </div>
        <div class="row mt-3" id="MaStR">
          <div class="col-md-12">
            <h2><fa-icon icon="database"></fa-icon> Einträge im Marktstammdatenregister</h2>
            <hr>
            <p>
              In der folgenden Tabelle werden die Top-25 (falls vorhanden) aktiven Einträge nach Art der Stromerzeugung (falls vorhanden) des Marktstammdatenregisters angezeigt.
              Die Einträge werden nach Bruttoleistung absteigend sortiert und nur auf der Karte angezeigt, wenn Längen- und Breitengrade angegeben sind.
              Es werden alle Einträge angezeigt, die der Kommune zugeordnet sind. Das bedeutet nicht, dass alle Anlagen auch
              auf dem Gebiet der {{ getAdministrationUnitName() }} liegen müssen.
            </p>
            <div class="row mb-4 mt-2">
              <div class="col-md-12" id="mastr-map">
                <mgl-map id="mastr-units-map"
                  [style]="mapOptions.options.tileUrl"
                  [zoom]="[mapOptions.options.zoom]"
                  [scrollZoom]="false"
                  [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
                  [attributionControl]="false"
                  [fitBounds]="mapOptions.bounds"
                  [fitBoundsOptions]="{
              padding: 20
            }"
                >
                  <mgl-control mglAttribution [customAttribution]="['<a href=&quot;' + STATE_CONFIG.administrationUnitGeometrySource.url + '&quot;>'+STATE_CONFIG.administrationUnitGeometrySource.label+'</a>']"></mgl-control>
                  <mgl-control mglNavigation position="bottom-right"></mgl-control>
                  <mgl-control position="top-right">
                    <div class="maplibregl-shadow rounded-1" style="background-color: white; min-width: 100px; z-index: 1000;">
                      <ng-select [items]="mapStyles" [clearable]="false" [(ngModel)]="selectedMapStyle"(ngModelChange)="updateMap()"></ng-select>
                    </div>
                  </mgl-control>
                  <mgl-popup *ngIf="selectedMastrUnit" [feature]="selectedMastrUnit">
                    <span>
                      <h5>{{selectedMastrUnit.properties.einheitname}}</h5> 
                      <p style="font-size: larger;">
                        {{selectedMastrUnit.properties.bruttoLeistung}} kW ({{selectedMastrUnit.properties.energieTraegerName}})
                      </p>
                      <button type="button" (click)="openMastr(selectedMastrUnit.properties.mastrNummer)" class="btn btn-primary">Mehr Infos im Marktstammdatenregister</button>
                    </span>
                  </mgl-popup>
                  <mgl-geojson-source id="ags_geometry">
                    <mgl-feature [geometry]="mapOptions.geometry"> </mgl-feature>
                  </mgl-geojson-source>
                  <mgl-layer
                    id="route"
                    type="line"
                    source="ags_geometry"
                    [layout]="{
                      'line-join': 'round',
                      'line-cap': 'round'
                    }"
                    [paint]="{
                      'line-color': '#ff6600',
                      'line-width': 3
                    }">
                  </mgl-layer>
                  <mgl-geojson-source id="{{source.key}}-source" *ngFor="let source of energySources">
                    <mgl-feature
                      *ngFor="let unit of source.units"
                      [geometry]="unit.geometry!"
                      [properties]="{
                  'bruttoLeistung' : unit.bruttoLeistung,
                  'mastrNummer' : unit.mastrNummer,
                  'einheitname' : unit.einheitname,
                  'energieTraegerName' : unit.energieTraegerName
                }"
                    ></mgl-feature>
                  </mgl-geojson-source>
                  <mgl-layer *ngFor="let source of energySources"
                             id="{{source.key}}-markers-layer"
                             type="circle"
                             source="{{source.key}}-source"
                             (layerClick)="onClickMastrUnit($event)"
                             (layerMouseEnter)="cursorStyle = 'pointer'"
                             (layerMouseLeave)="cursorStyle = ''"
                             [paint]="{
                              'circle-radius': 6,
                              'circle-color': source.color,
                              'circle-stroke-color': 'white',
                              'circle-stroke-width': 2,
                              'circle-stroke-opacity': 1
                              }">
                  </mgl-layer>
                </mgl-map>
              </div>
            </div>
            <ul id="mastr-table" ngbNav #nav="ngbNav" [activeId]="getFirstActiveId()" class="nav-tabs">
              <li [ngbNavItem]="source.key" *ngFor="let source of getNotEmptyEnergySources()">
                <a ngbNavLink>
                  <div class="box" [style]="'background-color:' + source.color"></div>
                  {{ source.label }} ({{ source.units.length }})
                </a>
                <ng-template ngbNavContent>
                  <p-table class="mt-2" #sunTable [value]="$any(source.units)"
                           [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                           currentPageReportTemplate="Zeige {first} to {last} von {totalRecords} Einträgen" [rowsPerPageOptions]="[5,10,25]"
                           [globalFilterFields]="['einheitname', 'anlagenBetreiberName', 'betriebsStatusName']"
                           styleClass="p-datatable-sm" sortField="bruttoLeistung" [sortOrder]="-1">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="name">Status <p-sortIcon field="betriebsStatusId"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="bruttoLeistung">Bruttoleistung kW<p-sortIcon field="bruttoLeistung"></p-sortIcon></th>
                        <th *ngIf="source.label === 'Speicher'" pSortableColumn="nutzbareSpeicherKapazitaet">Bruttokapazität kWh<p-sortIcon field="nutzbareSpeicherKapazitaet"></p-sortIcon></th>
                        <th pSortableColumn="name">Betreiber <p-sortIcon field="anlagenBetreiberName"></p-sortIcon></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-unit let-i="rowIndex">
                      <tr>
                        <td>
                          <span *ngIf="unit.betriebsStatusId === 31" class="badge text-bg-secondary">In Planung</span>
                          <span *ngIf="unit.betriebsStatusId === 35" class="badge text-bg-success">Aktiv</span>
                          <span *ngIf="unit.betriebsStatusId === 37" class="badge text-bg-warning">Vorübergehend geschlossen</span>
                          <span *ngIf="unit.betriebsStatusId === 38" class="badge text-bg-danger">Endgültig geschlossen</span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="openMastr(unit.mastrNummer)">{{unit.einheitname}}</button>
                        </td>
                        <td>{{unit.bruttoLeistung | number }}</td>
                        <td *ngIf="source.label === 'Speicher'">{{unit.nutzbareSpeicherKapazitaet | number }}</td>
                        <td>{{unit.anlagenBetreiberName }}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="caption">
                      <div class="input-group input-group">
                <span class="input-group-text" id="inputGroup-sizing-{{source.key}}">
                  <fa-icon [icon]="'search'"></fa-icon>
                </span>
                        <input type="text" class="form-control" aria-label="MaStR-Einheit suchen" aria-describedby="inputGroup-sizing"
                               (input)="applyFilterGlobal(sunTable, $event,'contains')" placeholder="MaStR-Einheit suchen">
                      </div>
                    </ng-template>
                  </p-table>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
            <jhi-alert></jhi-alert>
          </div>
        </div>
        
        <div class="row mt-4">
          <div class="col-md-12">
            <h2 id="ladesaeulen"><fa-icon icon="charging-station"></fa-icon> Ladesäulen</h2>
            <hr>
            <div *ngIf="chargingStations.length > 0 && latestChargingStation">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    In der {{ getAdministrationUnitName() }} gibt es zum {{ latestChargingStation.inbetriebnahmeDatum! | formatMediumDate }} genau {{ chargingStations.length }} öffentliche Ladesäulen für Elektrofahrzeuge. Innerhalb des letzten Jahres sind {{ getChargingStationsInPastYear().length }} Ladesäule(n) mit einer Gesamtleistung von {{ getPower(getChargingStationsInPastYear()) | number: '1.0-0' }} kW hinzugekommen. Insgesamt stehen den Bürgerinnen und Bürgern {{ chargingStations.length }} Ladesäulen mit einer Leistung von {{ getPower(chargingStations) | number }} kW zur Verfügung.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-xl-6">
                      <jhi-card name="Ladepunkte" unit="" [icon]="'charging-station'" [valueNumberFormat]="'1.0-0'"
                        [backgroundColor]="COLOR_ELECTRICITY"
                        [comparisonText]="'Im Vergleich zum Vorjahreszeitpunkt'"
                        [currentValue]="chargingStations.length"
                        [previousValue]="getChargingStationsBeforeOneYearAgo().length"></jhi-card>
                    </div>
                    <div class="col-xl-6">
                      <jhi-card name="Ladepunktleistung" unit="kW" [icon]="'plug-circle-bolt'" [valueNumberFormat]="'1.1-1'"
                        [backgroundColor]="COLOR_ELECTRICITY"
                        [comparisonText]="'Im Vergleich zum Vorjahreszeitpunkt'"
                        [currentValue]="getPower(chargingStations)"
                        [previousValue]="getPower(getChargingStationsBeforeOneYearAgo())"></jhi-card>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4 mt-2">
                <div class="col-md-12" id="bnetza-map">
                  <mgl-map id="charging-station-map"
                    [style]="mapOptions.options.tileUrl"
                    [zoom]="[mapOptions.options.zoom]"
                    [scrollZoom]="false"
                    [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
                    [attributionControl]="false"
                    [fitBounds]="mapOptions.bounds"
                    [fitBoundsOptions]="{ padding: 20 }"
                  >
                    <mgl-control position="top-right">
                      <div class="maplibregl-shadow rounded-1" style="background-color: white; min-width: 100px; z-index: 1000;">
                        <ng-select [items]="mapStyles" [clearable]="false" [(ngModel)]="selectedMapStyle"(ngModelChange)="updateMap()"></ng-select>
                      </div>
                    </mgl-control>
                    <mgl-control mglAttribution [customAttribution]="['<a href=&quot;' + STATE_CONFIG.administrationUnitGeometrySource.url + '&quot;>'+STATE_CONFIG.administrationUnitGeometrySource.label+'</a> | <a href=&quot;' + BNETZA_SOURCE.url + '&quot;> '+ BNETZA_SOURCE.label +'</a>']"></mgl-control>
                    <mgl-geojson-source id="ags_geometry">
                      <mgl-feature [geometry]="mapOptions.geometry"> </mgl-feature>
                    </mgl-geojson-source>
                    <mgl-layer
                      id="route"
                      type="line"
                      source="ags_geometry"
                      [layout]="{
                        'line-join': 'round',
                        'line-cap': 'round'
                      }"
                      [paint]="{
                        'line-color': '#ff6600',
                        'line-width': 3
                      }">
                    </mgl-layer>
                    <mgl-geojson-source id="bnetza-charging-stations-source">
                      <mgl-feature
                        *ngFor="let unit of chargingStations"
                        [geometry]="unit.geometry!"
                        [properties]="{
                          'inbetriebnahmeDatum' : unit.inbetriebnahmeDatum,
                          'betreiber' : unit.betreiber,
                          'strasse' : unit.strasse,
                          'hausnummer' : unit.hausnummer,
                          'adresszusatz' : unit.adresszusatz,
                          'postleitzahl' : unit.postleitzahl,
                          'ort' : unit.ort,
                          'nennleistungLadeeinrichtung' : unit.nennleistungLadeeinrichtung,
                          'artDerLadeeinrichtung' : unit.artDerLadeeinrichtung,
                          'anzahlLadepunkte' : unit.anzahlLadepunkte,
                          'ersterLadepunktSteckertypen' : unit.ersterLadepunktSteckertypen,
                          'ersterLadepunktLeistung' : unit.ersterLadepunktLeistung,
                          'zweiterLadepunktSteckertypen' : unit.zweiterLadepunktSteckertypen,
                          'zweiterLadepunktLeistung' : unit.zweiterLadepunktLeistung,
                          'dritterLadepunktSteckertypen' : unit.dritterLadepunktSteckertypen,
                          'dritterLadepunktLeistung' : unit.dritterLadepunktLeistung,
                          'vierterLadepunktSteckertypen' : unit.vierterLadepunktSteckertypen,
                          'vierterLadepunktLeistung' : unit.vierterLadepunktLeistung
                        }">
                      </mgl-feature>
                    </mgl-geojson-source>
                    <mgl-layer
                      id="bnetza-charging-stations-markers-layer"
                      type="circle"
                      source="bnetza-charging-stations-source"
                      (layerClick)="onClickChargingStations($event)"
                      (layerMouseEnter)="cursorStyle = 'pointer'"
                      (layerMouseLeave)="cursorStyle = ''"
                      [paint]="{
                        'circle-radius': 6,
                        'circle-color': [
                          'interpolate',
                          ['linear'],
                          ['get', 'nennleistungLadeeinrichtung'],
                          0,
                          '#45A700',
                          180,
                          '#FBEF00',
                          360,
                          '#E50201'
                        ],
                        'circle-stroke-color': 'white',
                        'circle-stroke-width': 2,
                        'circle-stroke-opacity': 1
                      }">
                    </mgl-layer>
                    <mgl-popup *ngIf="selectedChargingStation" [feature]="selectedChargingStation" [maxWidth]="'400px'">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <dl>
                              <dt>Inbetriebnahme</dt>
                              <dd>{{ selectedChargingStation.properties.inbetriebnahmeDatum | date:'fullDate' }}</dd>
                              <dt>Betreiber</dt>
                              <dd>{{ selectedChargingStation.properties.betreiber }}</dd>
                              <dt>Adresse</dt>
                              <dd>{{ selectedChargingStation.properties.strasse }} {{ selectedChargingStation.properties.hausnummer }}, {{ selectedChargingStation.properties.postleitzahl }} {{ selectedChargingStation.properties.ort }}</dd>
                              <dt>
                                <span *ngIf="selectedChargingStation.properties.artDerLadeeinrichtung === 'Normalladeeinrichtung'">
                                  <fa-icon icon="gauge"></fa-icon> Normalladeeinrichtung
                                </span>
                                <span *ngIf="selectedChargingStation.properties.artDerLadeeinrichtung === 'Schnellladeeinrichtung'">
                                  <fa-icon icon="gauge-high"></fa-icon> Schnellladeeinrichtung
                                </span>
                              </dt>
                              <dt class="mt-2" style="width: 350px;">
                                <div class="row">
                                  <div class="col-md-3">1. <fa-icon icon="charging-station"></fa-icon></div>
                                  <div class="col-md-3">2. <fa-icon icon="charging-station"></fa-icon></div>
                                  <div class="col-md-3">3. <fa-icon icon="charging-station"></fa-icon></div>
                                  <div class="col-md-3">4. <fa-icon icon="charging-station"></fa-icon></div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3" *ngIf="selectedChargingStation.properties.ersterLadepunktLeistung > 0">{{ selectedChargingStation.properties.ersterLadepunktLeistung }} kW</div>
                                  <div class="col-md-3" *ngIf="selectedChargingStation.properties.zweiterLadepunktLeistung > 0">{{ selectedChargingStation.properties.zweiterLadepunktLeistung }} kW</div>
                                  <div class="col-md-3" *ngIf="selectedChargingStation.properties.dritterLadepunktLeistung > 0">{{ selectedChargingStation.properties.dritterLadepunktLeistung }} kW</div>
                                  <div class="col-md-3" *ngIf="selectedChargingStation.properties.vierterLadepunktLeistung > 0">{{ selectedChargingStation.properties.vierterLadepunktLeistung }} kW</div>
                                </div>
                              </dt>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </mgl-popup>
                    <mgl-control position="bottom-right">
                      <div class="container maplibregl-shadow rounded-1" style="background-color: white;">
                        <div class="d-flex align-items-center justify-content-center">
                          <div class="p-1">11 kW</div>
                          <div class="p-1">
                            <span class="gradient mt-1"></span>
                          </div>
                          <div class="p-1">360 kW </div>
                        </div>
                      </div>
                    </mgl-control>
                    <mgl-control mglNavigation position="bottom-right"></mgl-control>
                  </mgl-map>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="alert alert-primary" role="alert">
                    Ladepunkte in Carports, Garagen, Garageneinfahrten oder auf sonstigen Parkflächen von Privatpersonen (natürlichen Personen) sind grundsätzlich keine öffentlich zugänglichen Ladepunkte und werden hier nicht aufgeführt. Die Anzahl der tatsächlichen Ladepunkte ist daher größer als hier angegeben.
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="chargingStations.length == 0">
              <p>
                Bisher gibt es keine öffentlichen Ladestationen oder es gibt bisher noch keine Daten zu den Stationen bei der Bundesnetzagentur. 
              </p>
            </div>
            <jhi-alert></jhi-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
