<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="row">
    <div class="col-xl-12">
      <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div class="container row">
          <div id="einfuehrung">
            <h1 class="mt-3"><fa-icon [icon]="'fire'"></fa-icon> Treibhausgase</h1>
            <p>
              Treibhausgase sind Gase, die zum Treibhauseffekt beitragen und sowohl natürlichen als auch anthropogenen Ursprungs sein können. Viele Statistische Landesämter führen seit 1990 ein Emissionskataster für die größten CO<sub>2</sub>-Emmissionen. Die in {{ STATE_CONFIG.label }} seit 1990 ausgestoßenen Treibhausgase werden im folgenden Diagramm in 1.000 Tonnen CO<sub>2</sub>-Äquivalent dargestellt.
            </p>
          </div>
          <div *ngIf="getChartData() && getChartData().enabled === true" id="emissionen-pro-jahr" class="card p-3">
            <h5 class="text-center">Treibhausgasemissionen in 1.000t CO2-Äquivalent pro Jahr</h5>
            <canvas baseChart height="400" [data]="getChartData()" [options]="getChartOptions(STATE_CONFIG.label)" [type]="'bar'">
            </canvas>
            <hr>
            <p class="text-end mt-0 mb-0">Quelle: <a href="{{getChartData().source.url}}">{{getChartData().source.label}}</a></p>
          </div>
          <p>
            Die Treibhausgase, die zum Beispiel durch die Braunkohleverstromung oder die Verbrennung von Benzin und Diesel in unseren Fahrzeugen erzeugt werden, sammeln sich in der Atmosphäre. Dort bilden sie den Grund für den sogenannten <a href="https://www.umweltbundesamt.de/themen/klima-energie/klimawandel/klima-treibhauseffekt#grundlagen">Treibhauseffekt</a>.
          </p>
          <div id="co2-in-atmosphaere" class="card p-3">
            <h5 class="text-center">CO<sub>2</sub>-Konzentration in der Atmosphäre</h5>
            <canvas baseChart height="400" [data]="getCo2InAtmosphereData()" [options]="getChartOptions('atmosphere')" [type]="'line'">
            </canvas>
            <hr>
            <p class="text-end mt-0 mb-0">Quelle: <a href="https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt">National Oceanic and Atmospheric Administration</a></p>
          </div>
          <p>
            Der jahreszeitliche Zyklus von Hochs und Tiefs (kleine Spitzen und Täler) wird durch das Wachstum der Vegetation der nördlichen Hemisphäre im Sommer und ihrem Zerfall im Winter bestimmt. Die Daten aus dem obigen Graphen wurden im <a href="https://gml.noaa.gov/obop/mlo/">Mauna Loa Observatory</a> auf Hawaii seit 1958 erhoben. Die Lage des Observatoriums ist dafür besonders gut geeignet, da dort lokale Einflüsse der Vegetation oder des Menschen die Luft in der Umgebung kaum beeinträchtigen.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>









