mgl-map {
  height: 500px;
  width: 100%;
}

.box {
  float: left;
  height: 15px;
  width: 15px;
  border: #ababab 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.maplibregl-shadow {
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.legend-element {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 2px solid black;
}