<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>

  <div class="row">
    <div class="col-xl-12">
      <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div>
          <div id="wasserhaushalt">
            <h1><fa-icon [icon]="'water'"></fa-icon> Wasserhaushalt</h1>
            <p>
              Die menschengemachte globale Erwärmung wirkt sich stark auf Menschen, Biodiversität und Gewässer aus, da wärmere Temperaturen und veränderte Niederschläge den Wasserhaushalt direkt verändern. Dürren, Hitzewellen, extrem niedrige Flusspegel und sinkende Grundwasserspiegel treten infolge des Klimawandels immer häufiger auf, ebenso wie Hochwasser und Starkregenereignisse. Deutsche Gewässer, die bereits durch Abwasser, industrielle Landwirtschaft und Flusseingriffe belastet sind, leiden besonders unter diesen Veränderungen.
            </p>
            <h2 class="mt-3" id="ufz-duerremonitor">UFZ Dürremonitor</h2>
            <p>
              Der UFZ-Dürremonitor, entwickelt unter der Leitung von <a href="https://www.ufz.de/index.php?de=38071">Dr. Andreas Marx</a> vom UFZ, liefert täglich flächendeckende Informationen zum Bodenfeuchtezustand in Deutschland. Die wissenschaftliche Basis des UFZ-Dürremonitors ist das hydrologische Modellsystem mHM (<a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2008WR007327">Samaniego et al. 2010</a>,
              <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2012WR012195">Kumar et al. 2013</a>), das ebenfalls am UFZ entwickelt wurde. Wer sich für die Details der Berechnung interessiert, findet unter „Die Wissenschaft hinter dem UFZ-Dürremonitor” auf der
              <a href="https://www.ufz.de/index.php?de=37937">Projektseite des Dürremonitors</a> ausführliche Erklärungen.
            </p>
          </div>
          <div id="ufz-gesamtboden" class="card p-3">
            <h5 class="text-center">Dürremonitor - Gesamtboden ca. 1,8m</h5>
            <hr class="mt-0">
            <p>Die Karte zeigt den Dürreindex SMI (soil moisture index) des Gesamtbodens bis ca. 1,8m Tiefe an.</p>
            <div class="row">
              <div class="col-md-12">
                <p>
                  <b>Datum auswählen: </b> {{ this.possibleDates[gesamtbodenSliderModel] | date:'fullDate' }}
                  <span *ngIf="gesamtbodenIsLoading">
                    <fa-icon icon="sync" [spin]="true"></fa-icon>
                  </span>
                </p>
              </div>
              <div class="col-md-12 mb-3 mr-2">
                <p-slider class="" (onSlideEnd)="updateRasterPoints('gesamtboden-map')" [(ngModel)]="gesamtbodenSliderModel" [max]="possibleDates.length - 1"></p-slider>
              </div>
              <div id="gesamtbodenChart" [@slideInOut]="gesamtbodenChartAnimation">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="gesamtbodenChartAnimation = 'out'"></button>
                <div class="col-md-12">
                  <p><b>SMI-Gesamtboden: </b>{{ gesamtbodenSelectedRasterPoint | number : '1.1-3' }}</p>
                  <canvas baseChart height="90px" [data]="gesamtbodenChartData" [options]="gesamtbodenChartOptions" [type]="'line'">
                  </canvas>
                  <div class="alert alert-primary mt-3" role="alert">
                    Das pflanzenverfügbare Wasser wird links und der Dürreindex SMI werden sowohl für den Gesamt-, als auch den Oberboden auf der rechten Y-Achse dargestellt.
                  </div>
                </div>
              </div>
            </div>
            <mgl-map id="gesamtboden-map"
              [style]="mapOptions.options.tileUrl"
              [zoom]="[mapOptions.options.zoom]"
              [scrollZoom]="false"
              [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
              [attributionControl]="false"
              [fitBoundsOptions]="{
                padding: 20
              }">
              <mgl-control mglAttribution [customAttribution]="['<a href=&quot;' + STATE_CONFIG.administrationUnitGeometrySource.url + '&quot;>'+STATE_CONFIG.administrationUnitGeometrySource.label+'</a>']"></mgl-control>
              <mgl-control position="top-right">
                <div class="maplibregl-shadow rounded-1" style="background-color: white; min-width: 100px; z-index: 1000;">
                  <ng-select [items]="mapStyles" [clearable]="false" [(ngModel)]="selectedMapStyle" (ngModelChange)="updateMap()"></ng-select>
                </div>
              </mgl-control>
              <mgl-geojson-source id="ufz_measurements_geometry">
                <mgl-feature *ngFor="let measurement of gesamtbodenMeasurements"
                  [geometry]="measurement.ufzRasterPoint!.geometry!"
                  [properties]="{
                    'ufzRasterPointId': measurement.ufzRasterPoint!.id,
                    'smiGesamtboden': measurement.smiGesamtboden,
                    'smiOberboden': measurement.smiOberboden,
                    'nutzbareFeldkapazitaet': measurement.nutzbareFeldkapazitaet
                  }"
                >
                </mgl-feature>
              </mgl-geojson-source>
              
              <mgl-layer
                id="ufz_measurements_geometry_border_layer"
                type="line"
                source="ufz_measurements_geometry"
                [paint]="{
                  'line-color': 'black',
                  'line-width': 2,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-layer
                  id="ufz_measurements_geometry_layer"
                  type="fill"
                  source="ufz_measurements_geometry"
                  (layerClick)="onClickRasterPoint($event, 'gesamtboden-map')"
                  (layerMouseMove)="activateHoverOn($event, 'gesamtboden-map')"
                  (layerMouseLeave)="disableHover('gesamtboden-map')"
                  [paint]="{
                    'fill-outline-color': 'black',
                    'fill-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'smiGesamtboden'],
                      0,
                      '#730000',
                      0.02,
                      '#e60000',
                      0.05,
                      '#ffaa00',
                      0.1,
                      '#fcd37f',
                      0.2,
                      '#ffff00',
                      0.3,
                      '#ffffff'
                    ]
                  }">
              </mgl-layer>
              <mgl-layer
                id="ufz_measurements_geometry_border_hover_layer"
                type="line"
                source="ufz_measurements_geometry"
                (layerMouseMove)="activateHoverOn($event, 'gesamtboden-map')"
                (layerMouseLeave)="disableHover('gesamtboden-map')"
                [filter]="gesamtbodenHoverFilter"
                [paint]="{
                  'line-color': '#00bd16',
                  'line-width': 4,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-control position="bottom-right">
                <div class="container maplibregl-shadow rounded-1" style="min-width: 270px; background-color: white;">
                  <div class="row"></div>
                  <div class="row mt-2">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffffff;"></i></div>
                    <div class="col-md-5">normal (> 0,30)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffff00;"></i></div>
                    <div class="col-md-10">ungewöhnlich trocken (0,20 - 0,30)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #fcd37f;"></i></div>
                    <div class="col-md-10">moderate Dürre (0,10 - 0,20)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffaa00;"></i></div>
                    <div class="col-md-10">schwere Dürre (0,05 - 0,10)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #e60000;"></i></div>
                    <div class="col-md-10">extreme Dürre (0,02 - 0,05)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #730000;"></i></div>
                    <div class="col-md-10">außergewöhnliche Dürre (0,00 - 0,02)</div>
                  </div>
                </div>
              </mgl-control>
              <mgl-control mglNavigation position="bottom-right"></mgl-control>
            </mgl-map>
            <div class="col-md-12 mt-3">
              <div class="alert alert-primary" role="alert"  *ngIf="gesamtbodenChartAnimation === 'out'">
                Mit einem Klick auf einen Punkt auf der Karte werden die Werte im Zeitverlauf dargestellt.
              </div>
            </div>
            <hr>
            <p class="text-end mt-0 mb-0">Quelle: <a href="{{ source.url }}">{{ source.label }}</a></p>
          </div>
          <div id="ufz-oberboden" class="card p-3">
            <h5 class="text-center">Dürremonitor - Oberboden bis 25cm</h5>
            <hr class="mt-0">
            <p>Die Karte zeigt den Dürreindex SMI (soil moisture index) des Oberboden, welcher schneller auf kurzfristige Niederschlagsereignisse reagiert, bis ca. 25cm Tiefe an.</p>
            <div class="row">
              <div class="col-md-12">
                <p>
                  <b>Datum auswählen: </b> {{ this.possibleDates[oberbodenSliderModel] | date:'fullDate' }}
                  <span *ngIf="oberbodenIsLoading">
                    <fa-icon icon="sync" [spin]="true"></fa-icon>
                  </span>
                </p>
              </div>
              <div class="col-md-12 mb-3 mr-2">
                <p-slider class="" (onSlideEnd)="updateRasterPoints('oberboden-map')" [(ngModel)]="oberbodenSliderModel" [max]="possibleDates.length - 1"></p-slider>
              </div>
              <div id="oberbodenChart" [@slideInOut]="oberbodenChartAnimation">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="oberbodenChartAnimation = 'out'"></button>
                <div class="col-md-12">
                  <p><b>SMI-Oberboden: </b>{{ oberbodenSelectedRasterPoint | number : '1.1-3' }}</p>
                  <canvas baseChart height="90px" [data]="oberbodenChartData" [options]="oberbodenChartOptions" [type]="'line'">
                  </canvas>
                  <div class="alert alert-primary mt-3" role="alert">
                    Das pflanzenverfügbare Wasser wird links und der Dürreindex SMI werden sowohl für den Gesamt-, als auch den Oberboden auf der rechten Y-Achse dargestellt.
                  </div>
                </div>
              </div>
            </div>
            <mgl-map id="oberboden-map"
              [style]="mapOptions.options.tileUrl"
              [zoom]="[mapOptions.options.zoom]"
              [scrollZoom]="false"
              [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
              [attributionControl]="false"
              [fitBoundsOptions]="{
                padding: 20
              }">
              <mgl-control mglAttribution [customAttribution]="['<a href=&quot;' + STATE_CONFIG.administrationUnitGeometrySource.url + '&quot;>'+STATE_CONFIG.administrationUnitGeometrySource.label+'</a>']"></mgl-control>
              <mgl-control position="top-right">
                <div class="maplibregl-shadow rounded-1" style="background-color: white; min-width: 100px; z-index: 1000;">
                  <ng-select [items]="mapStyles" [clearable]="false" [(ngModel)]="selectedMapStyle" (ngModelChange)="updateMap()"></ng-select>
                </div>
              </mgl-control>
              <mgl-geojson-source id="ufz_measurements_geometry">
                <mgl-feature *ngFor="let measurement of oberbodenMeasurements"
                  [geometry]="measurement.ufzRasterPoint!.geometry!"
                  [properties]="{
                    'ufzRasterPointId': measurement.ufzRasterPoint!.id,
                    'smiOberboden': measurement.smiOberboden,
                    'smiGesamtboden': measurement.smiGesamtboden,
                    'nutzbareFeldkapazitaet': measurement.nutzbareFeldkapazitaet
                  }"
                >
                </mgl-feature>
              </mgl-geojson-source>
              
              <mgl-layer
                id="ufz_measurements_geometry_border_layer"
                type="line"
                source="ufz_measurements_geometry"
                [paint]="{
                  'line-color': 'black',
                  'line-width': 2,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-layer
                  id="ufz_measurements_geometry_layer"
                  type="fill"
                  source="ufz_measurements_geometry"
                  (layerClick)="onClickRasterPoint($event, 'oberboden-map')"
                  (layerMouseMove)="activateHoverOn($event, 'oberboden-map')"
                  (layerMouseLeave)="disableHover('oberboden-map')"
                  [paint]="{
                    'fill-outline-color': 'black',
                    'fill-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'smiOberboden'],
                      0,
                      '#730000',
                      0.02,
                      '#e60000',
                      0.05,
                      '#ffaa00',
                      0.1,
                      '#fcd37f',
                      0.2,
                      '#ffff00',
                      0.3,
                      '#ffffff'
                    ]
                  }">
              </mgl-layer>
              <mgl-layer
                id="ufz_measurements_geometry_border_hover_layer"
                type="line"
                source="ufz_measurements_geometry"
                (layerMouseMove)="activateHoverOn($event, 'oberboden-map')"
                (layerMouseLeave)="disableHover('oberboden-map')"
                [filter]="oberbodenHoverFilter"
                [paint]="{
                  'line-color': '#00bd16',
                  'line-width': 4,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-control position="bottom-right">
                <div class="container maplibregl-shadow rounded-1" style="min-width: 270px; background-color: white;">
                  <div class="row"></div>
                  <div class="row mt-2">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffffff;"></i></div>
                    <div class="col-md-5">normal (> 0,30)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffff00;"></i></div>
                    <div class="col-md-10">ungewöhnlich trocken (0,20 - 0,30)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #fcd37f;"></i></div>
                    <div class="col-md-10">moderate Dürre (0,10 - 0,20)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #ffaa00;"></i></div>
                    <div class="col-md-10">schwere Dürre (0,05 - 0,10)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #e60000;"></i></div>
                    <div class="col-md-10">extreme Dürre (0,02 - 0,05)</div>
                  </div>
                  <div class="row">
                    <div class="col-md-1"><i class="legend-element" style="background-color: #730000;"></i></div>
                    <div class="col-md-10">außergewöhnliche Dürre (0,00 - 0,02)</div>
                  </div>
                </div>
              </mgl-control>
              <mgl-control mglNavigation position="bottom-right"></mgl-control>
            </mgl-map>
            <div class="col-md-12 mt-3">
              <div class="alert alert-primary" role="alert"  *ngIf="oberbodenChartAnimation === 'out'">
                Mit einem Klick auf einen Punkt auf der Karte werden die Werte im Zeitverlauf dargestellt.
              </div>
            </div>
            <hr>
            <p class="text-end mt-0 mb-0">Quelle: <a href="{{ source.url }}">{{ source.label }}</a></p>
          </div>
          <div id="ufz-nutzbareFeldkapazitaet" class="card p-3">
            <h5 class="text-center">Dürremonitor - Pflanzenverfügbares Wasser</h5>
            <hr class="mt-0">
            <p>Die Karte zeigt den Dürreindex SMI (soil moisture index) des Oberboden, welcher schneller auf kurzfristige Niederschlagsereignisse reagiert, bis ca. 25cm Tiefe an.</p>
            <div class="row">
              <div class="col-md-12">
                <p>
                  <b>Datum auswählen: </b> {{ this.possibleDates[nutzbareFeldkapazitaetSliderModel] | date:'fullDate' }}
                  <span *ngIf="nutzbareFeldkapazitaetIsLoading">
                    <fa-icon icon="sync" [spin]="true"></fa-icon>
                  </span>
                </p>
              </div>
              <div class="col-md-12 mb-3 mr-2">
                <p-slider class="" (onSlideEnd)="updateRasterPoints('nutzbareFeldkapazitaet-map')" [(ngModel)]="nutzbareFeldkapazitaetSliderModel" [max]="possibleDates.length - 1"></p-slider>
              </div>
              <div class="col-md-1"></div>
              <div id="nutzbareFeldkapazitaetChart" [@slideInOut]="nutzbareFeldkapazitaetChartAnimation">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="nutzbareFeldkapazitaetChartAnimation = 'out'"></button>
                <div class="col-md-12">
                  <p><b>Pflanzenverfügbares Wasser: </b>{{ nutzbareFeldkapazitaetSelectedRasterPoint | number : '1.1-3' }}</p>
                  <canvas  baseChart height="90px" [data]="nutzbareFeldkapazitaetChartData" [options]="nutzbareFeldkapazitaetChartOptions" [type]="'line'">
                  </canvas>
                  <div class="alert alert-primary mt-3" role="alert">
                    Das pflanzenverfügbare Wasser wird links und der Dürreindex SMI werden sowohl für den Gesamt-, als auch den Oberboden auf der rechten Y-Achse dargestellt.
                  </div>
                </div>
              </div>
            </div>
            <mgl-map id="nutzbareFeldkapazitaet-map"
              [style]="mapOptions.options.tileUrl"
              [zoom]="[mapOptions.options.zoom]"
              [scrollZoom]="false"
              [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
              [attributionControl]="false"
              [fitBoundsOptions]="{
                padding: 20
              }">
              <mgl-control mglAttribution [customAttribution]="['<a href=&quot;' + STATE_CONFIG.administrationUnitGeometrySource.url + '&quot;>'+STATE_CONFIG.administrationUnitGeometrySource.label+'</a>']"></mgl-control>
              <mgl-control position="top-right">
                <div class="maplibregl-shadow rounded-1" style="background-color: white; min-width: 100px; z-index: 1000;">
                  <ng-select [items]="mapStyles" [clearable]="false" [(ngModel)]="selectedMapStyle" (ngModelChange)="updateMap()"></ng-select>
                </div>
              </mgl-control>
              <mgl-geojson-source id="ufz_measurements_geometry">
                <mgl-feature *ngFor="let measurement of nutzbareFeldkapazitaetMeasurements"
                  [geometry]="measurement.ufzRasterPoint!.geometry!"
                  [properties]="{
                    'ufzRasterPointId': measurement.ufzRasterPoint!.id,
                    'smiOberboden': measurement.smiOberboden,
                    'smiGesamtboden': measurement.smiGesamtboden,
                    'nutzbareFeldkapazitaet': measurement.nutzbareFeldkapazitaet
                  }"
                >
                </mgl-feature>
              </mgl-geojson-source>
              
              <mgl-layer
                id="ufz_measurements_geometry_border_layer"
                type="line"
                source="ufz_measurements_geometry"
                [paint]="{
                  'line-color': 'black',
                  'line-width': 2,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-layer
                  id="ufz_measurements_geometry_layer"
                  type="fill"
                  source="ufz_measurements_geometry"
                  (layerClick)="onClickRasterPoint($event, 'nutzbareFeldkapazitaet-map')"
                  (layerMouseMove)="activateHoverOn($event, 'nutzbareFeldkapazitaet-map')"
                  (layerMouseLeave)="disableHover('nutzbareFeldkapazitaet-map')"
                  [paint]="{
                    'fill-outline-color': 'black',
                    'fill-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'nutzbareFeldkapazitaet'],
                      0,
                      '#f13c1f',
                      10,
                      '#ffa902',
                      20,
                      '#ffe8a8',
                      30,
                      '#fdffea',
                      40,
                      '#f0f9e7',
                      50,
                      '#d4efca',
                      60,
                      '#91d7c5',
                      70,
                      '#57b6ad',
                      80,
                      '#2a8ec3',
                      90,
                      '#2373bf',
                      100,
                      '#07529d',
                      110,
                      '#09417b'
                    ]
                  }">
              </mgl-layer>
              <mgl-layer
                id="ufz_measurements_geometry_border_hover_layer"
                type="line"
                source="ufz_measurements_geometry"
                (layerMouseMove)="activateHoverOn($event, 'nutzbareFeldkapazitaet-map')"
                (layerMouseLeave)="disableHover('nutzbareFeldkapazitaet-map')"
                [filter]="nutzbareFeldkapazitaetHoverFilter"
                [paint]="{
                  'line-color': '#00bd16',
                  'line-width': 4,
                  'line-opacity': 1
                }"
                >
              </mgl-layer>
              <mgl-control mglNavigation position="bottom-right"></mgl-control>
            </mgl-map>
            <div class="col-md-12 mt-3">
              <div class="alert alert-primary" role="alert"  *ngIf="nutzbareFeldkapazitaetChartAnimation === 'out'">
                Mit einem Klick auf einen Punkt auf der Karte werden die Werte im Zeitverlauf dargestellt.
              </div>
            </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-1"><i class="legend-element" style="background-color: #f13c1f;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #ffa902;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #ffe8a8;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #fdffea;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #f0f9e7;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #d4efca;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #91d7c5;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #57b6ad;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #2a8ec3;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #2373bf;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #07529d;"></i></div>
                <div class="col-md-1"><i class="legend-element" style="background-color: #09417b;"></i></div>
              </div>
              <div class="row">
                <div class="col-md-2">0% Welkepunkt</div>
                <div class="col-md-2">< 30% Trockenstress</div>
                <div class="col-md-8">< 50% beginnender Trockenstress</div>
              </div>
            </div>
            <hr>
            <p class="text-end mt-0 mb-0">Quelle: <a href="{{ source.url }}">{{ source.label }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
