<div class="row">
  <div class="col-xl-12">
    <img class="img-fluid" style="max-height: 130px; min-width: 100%;" src="content/images/stripes/{{ STATE_CONFIG.stripeImageName }}">
    <h1 id="h1-1" class="mt-3">Klimadashboard {{ STATE_CONFIG.label }}</h1>
    <p>
      Das Projekt „Klimadashboard {{ STATE_CONFIG.label }}” möchte den Fortschritt der Energie-, Verkehrs- und Landwirtschaftswende
      dokumentieren. Dazu werden Daten aus verschiedenen Quellen und Sektoren zusammengetragen und mittels moderner
      Webtechnologien anschaulich und transparent dargestellt. An dem Projekt kann sich jede und jeder beteiligen.
      Falls du darauf Lust hast oder eine interessant Statistik kennst, die du gern veröffentlichen möchtest, melde
      dich einfach per <a href="mailto:team@danielgerber.eu?subject=Klimadashboard">Email</a>.
    </p>
    <!-- <a href="/login" class="btn btn-secondary">Einloggen</a>-->
    <!-- <a (click)="logout()" class="btn btn-secondary">Ausloggen</a>-->
    <!-- <a href="/admin/docs" class="btn btn-secondary">API Docs</a> -->
  </div>
  <div class="col-xl-12 mt-4">
    <h2>Wie kannst du mitmachen?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-data.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Statistiken auf einem Blatt Papier, einen Laptop und Stifte zeigt.">
            <h5 class="card-title mt-3">Du hast Daten?</h5>
            <p class="card-text">Du hast Daten in (un)strukturiertem Format für {{ STATE_CONFIG.label }} und möchtest diese gern darstellen lassen? Dann schick sie uns per Mail.</p>
            <a href="mailto:team@danielgerber.eu?subject=Klimadashboard - Daten" class="btn btn-secondary">Daten bereitstellen</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-code.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Quellcode zeigt.">
            <h5 class="card-title mt-3">Du kannst programmieren?</h5>
            <p class="card-text">Am besten legst du auf Gitlab ein Issue an. Selbstverständlich sind Merge Requests jederzeit willkommen.</p>
            <a href="https://gitlab.com/gerbsen/climate-dashboard/-/issues/new" class="btn btn-secondary">Issue anlegen</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-statistic.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Quellcode zeigt.">
            <h5 class="card-title mt-3">Dir fehlt eine Auswertung?</h5>
            <p class="card-text">Du bist der Meinung es fehlt noch diese oder jene Auswertung. Dann schreib einfach eine Mail.</p>
            <a href="mailto:team@danielgerber.eu?subject=Klimadashboard - Verbesserung" class="btn btn-secondary">Idee emailen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 mt-4">
    <h2>Quellen</h2>
    <div class="row">
      <div *ngFor="let source of STATE_CONFIG.sources" class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/{{ source.imageFileName }}" class="card-img-top img-thumbnail" alt="Das ">
            <h5 class="card-title mt-3">{{ source.label }}</h5>
            <p class="card-text">{{ source.text }}</p>
            <a href="{{ source.url }}" target="_blank" class="btn btn-secondary">Webseite</a>
          </div>
        </div>
      </div>
    </div>
</div>
