.bd-toc{
  grid-area:toc
}
.bd-content{
  grid-area:content;
  min-width:1px
}
@media (min-width: 992px){
  .bd-toc{
    position:-webkit-sticky;
    position:sticky;
    top:5rem;
    right:0;
    z-index:2;
    height:calc(100vh - 7rem);
    overflow-y:auto
  }
}
.bd-toc nav{
  font-size:.875rem
}
.bd-toc nav ul{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.bd-toc nav ul ul{
  padding-left:1rem;
  margin-top:.25rem
}
.bd-toc nav li{
  margin-bottom:.25rem
}
.bd-toc nav a{
  color:inherit
}
.bd-toc nav a:not(:hover){
  text-decoration:none
}
.bd-toc nav a code{
  font:inherit
}
.bd-toc-toggle{
  display:flex;
  align-items:center
}
@media (max-width: 575.98px){
  .bd-toc-toggle{
    justify-content:space-between;
    width:100%
  }
}
@media (max-width: 767.98px){
  .bd-toc-toggle{
    color:var(--bs-body-color);
    border:1px solid var(--bs-border-color);
    border-radius:var(--bs-border-radius)
  }
  .bd-toc-toggle:hover,.bd-toc-toggle:focus,.bd-toc-toggle:active,.bd-toc-toggle[aria-expanded="true"]{
    color:var(--bd-violet);
    background-color:var(--bs-body-bg);
    border-color:var(--bd-violet)
  }
  .bd-toc-toggle:focus,.bd-toc-toggle[aria-expanded="true"]{
    box-shadow:0 0 0 3px rgba(var(--bd-violet-rgb), 0.25)
  }
}
@media (max-width: 767.98px){
  .bd-toc-collapse nav{
    padding:1.25rem;
    background-color:var(--bs-tertiary-bg);
    border:1px solid var(--bs-border-color);
    border-radius:var(--bs-border-radius)
  }
}
@media (min-width: 768px){
  .bd-toc-collapse{
    display:block !important
  }
}
