<aside class="bd-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Klimadashboard {{ STATE_CONFIG.label }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
          <li class="bd-links-group py-2">
            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
              <fa-icon class="fa-fw" [icon]="'gauge-high'"></fa-icon> <span class="ml-4">Klimadashboard</span>
            </strong>
            <ul class="list-unstyled fw-normal pb-2 small">
              <li *ngFor="let data of navData" data-bs-dismiss="offcanvas" data-bs-target="#bdSidebar">
                <a *ngIf="STATE_CONFIG.routeLinks.includes(data.routeLink)" [routerLink]="[data.routeLink]"
                   class="bd-links-link d-inline-block rounded"
                   aria-current="page">
                  <fa-icon [icon]="$any(data.icon)" [fixedWidth]="true"></fa-icon> {{data.label}}
                </a>
              </li>
            </ul>
            <hr>
            <div *ngFor="let sponsor of STATE_CONFIG.sponsors">
              <a href="{{ sponsor.url }}" target="_blank"><img src="content/images/sponsors/{{ sponsor.imageName }}" class="img-fluid" /></a>
              <div class="row col-md-12">
                <p class="mt-3 text-justify" [innerHTML]="sponsor.textHtml">
                </p>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
