
<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<jhi-navbar></jhi-navbar>

<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <jhi-sidenav></jhi-sidenav>
  <jhi-body></jhi-body>
</div>

<jhi-footer></jhi-footer>
