<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="col-xl-12">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <div id="klimadaten" class="container row">
          <h1 class="mt-3"><fa-icon [icon]="'temperature-arrow-up'"></fa-icon> Klimadaten des Deutschen Wetterdienstes</h1>
          <p>
            Der Deutsche Wetterdienst betreibt das dichteste meteorologische und klimatologische Messnetz in Deutschland. Die dort gewonnenen Daten werden seit vielen Jahrzehnten verarbeitet und archiviert. Auf diese Weise haben sich rund 100 Milliarden Klimadaten angesammelt, deren Zeitreihen zum Teil bis ins 18. Jahrhundert zurück reichen. (Quelle: <a href="https://www.dwd.de/DE/leistungen/klimadatendeutschland/ueberblick.html;jsessionid=7F96C8A55C722157FE1D45AD2B99F35B.live31094?nn=16102&lsbId=343278">Deutscher Wetterdienst</a>)
          </p>
        </div>
        <div id="temperatur-veraenderung" class="container row">
          <h2>Veränderung der Temperatur</h2>
          <p>
            Das folgende Diagramm zeigt in <span class="p-1" style="background-color: rgba(255, 99, 132, 1); color: white;">roter Linie</span> die Jahresdurchschnittstemperatur für {{ STATE_CONFIG.label }} seit dem Jahr 1881 an. Mit <span class="p-1" style="background-color: rgba(25, 99, 132, 1); color: white;">blauer Linie</span> wird der Mittelwert der Temperatur der letzten 30-Jahre dargestellt. Durch das Verwenden eines 30-Jahre Mittelwertes werden langfristige Trends sichtbar. Außerdem fallen kurzfristige Schwankungen so nicht ins Gewicht.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Jahresdurchschnittstemperatur in °C in {{ STATE_CONFIG.label }}</h5>
            <canvas baseChart height="400" [data]="averageTemperaturData" [options]="getChartOptions()" [type]="'line'">
            </canvas>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
          </div>
          <p>
            Eine alternative und aktuell sehr populäre Darstellungsweise der Temperaturveränderungen sind die sogenannten „Climate Stripes”. Entwickelt wurde diese Grafik von <a href="http://www.met.reading.ac.uk/~ed/home/index.php" target="_blank">Ed Hawkins</a>. Unter der Webseite <a href="https://showyourstripes.info/" target="_blank">„Show your stripes”</a> lässt sich für beliebige Gebiete auf der ganzen Welt die Temperaturveränderungen erzeugen.
            Die vertikalen Farbstriche entsprechen jeweils einem Jahr und zeigen deren durchschnittliche Jahrestemperatur in {{ STATE_CONFIG.label }} seit 1881.
          </p>
          <img class="img-fluid" style="max-height: 130px; min-width: 100%;" src="content/images/stripes/{{ STATE_CONFIG.stripeImageName }}">
        </div>
        <div id="temperatur-veraenderung-monat" class="container row mt-3">
          <h2>Veränderung der Temperatur der jeweiligen Monate</h2>
          <p>
            Das folgenden Diagramm zeigt die Durchschnittstemperatur der verschiedenen Monate für alle Jahr seit Beginn der Wetteraufzeichnung. Zusätzlich sind 30-Jahr Durchschnitte von 1950 bis 1980 und von 1980 bis 2010 auswählbar zum besseren Vergleich.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Monatsdurchschnittstemperatur in °C in {{ STATE_CONFIG.label }}</h5>
            <canvas baseChart height="400" [data]="monthTempChartData" [options]="monthTempChartOptions" [type]="'line'">
            </canvas>
            <div class="row mt-3">
              <div class="col-md-3">
                <p class="fw-bold">Jahre auswählen:</p>
              </div>
              <div class="col-md-9">
                <ng-select
                  [items]="possibleYearsAverageTemp"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  bindLabel="value"
                  bindValue="key"
                  (change)="handleAverageTempYearChange()"
                  [(ngModel)]="selectedYearAverageTemp">
                </ng-select>
              </div>
            </div>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
          </div>
        </div>
        <div id="niederschlag-veraenderung-monat" class="container row mt-3">
          <h2>Veränderung des Niederschlags der jeweiligen Monate</h2>
          <p>
            Das folgenden Diagramm zeigt den durchschnittlichen Niederschlag der verschiedenen Monate für alle Jahr seit Beginn der Wetteraufzeichnung. Zusätzlich sind 30-Jahr Durchschnitte von 1950 bis 1980 und von 1980 bis 2010 auswählbar zum besseren Vergleich.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Durchschnittlicher Niederschlag in mm in {{ STATE_CONFIG.label }}</h5>
            <canvas *ngIf="monthPercipiationChartData.datasets.length > 0" baseChart height="400" [data]="monthPercipiationChartData" [options]="monthPercipitationChartOptions" [type]="'line'">
            </canvas>
            <div class="row mt-3">
              <div class="col-md-3">
                <p class="fw-bold">Jahre auswählen:</p>
              </div>
              <div class="col-md-9">
                <ng-select
                  [items]="possibleYearsAveragePercipitation"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  bindLabel="value"
                  bindValue="key"
                  (change)="handleAveragePercipitationYearChange()"
                  [(ngModel)]="selectedYearAveragePercipitation">
                </ng-select>
              </div>
            </div>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
          </div>
        </div>
        <div id="sonnenscheindauer-veraenderung-monat" class="container row mt-3">
          <h2>Veränderung der Sonnenscheindauer der jeweiligen Monate</h2>
          <p>
            Das folgenden Diagramm zeigt die durchschnittliche Sonnenscheindauer (in Stunden) der verschiedenen Monate für alle Jahr seit Beginn der Wetteraufzeichnung. Zusätzlich sind 30-Jahr Durchschnitte von 1950 bis 1980 und von 1980 bis 2010 auswählbar zum besseren Vergleich.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Durchschnittliche Sonnenscheindauer in Stunden in {{ STATE_CONFIG.label }}</h5>
            <canvas baseChart height="400" [data]="monthSunshineDurationChartData" [options]="monthSunshineDurationChartOptions" [type]="'line'">
            </canvas>
            <div class="row mt-3">
              <div class="col-md-3">
                <p class="fw-bold">Jahre auswählen:</p>
              </div>
              <div class="col-md-9">
                <ng-select
                  [items]="possibleYearsAverageSunshineDuration"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  bindLabel="value"
                  bindValue="key"
                  (change)="handleAverageSunshineDurationYearChange()"
                  [(ngModel)]="selectedYearAverageSunshineDuration">
                </ng-select>
              </div>
            </div>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
          </div>
        </div>
        <div id="weitere-veraenderungen" class="container row">
          <h2 class="mt-3">Weitere Veränderungen</h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Da Durchschnittstemperaturen nur schwer verständlich bzw. greifbar sind, lassen sich auch andere Maße verwenden.
              </p>
              <ol>
                <li>
                  Ein <span class="fw-bold"><a href="https://www.dwd.de/DE/service/lexikon/Functions/glossar.html?lv3=100720&lv2=100652">Eistag</a></span> ist ein Tag, an dem das Maximum der Lufttemperatur unterhalb des Gefrierpunktes (unter 0 °C) liegt, d.h. es herrscht durchgehend Frost.
                </li>
                <li>
                  Ein <span class="fw-bold"><a href="https://www.dwd.de/DE/service/lexikon/Functions/glossar.html?nn=103346&lv2=100784&lv3=100912">Frosttag</a></span> ist ein Tag, an dem das Minimum der Lufttemperatur unterhalb des Gefrierpunktes von 0 °C liegt.
                </li>
                <li>
                  Ein <span class="fw-bold"><a href="https://www.dwd.de/DE/service/lexikon/Functions/glossar.html?nn=103346&lv2=102248&lv3=102522">Sommertag</a></span> ist ein Tag, an dem das Maximum der Lufttemperatur ≥ 25 °C beträgt.
                  Die Menge der Sommertage enthält auch die Heißen Tage.
                </li>
                <li>
                  Ein <span class="fw-bold"><a href="https://www.dwd.de/DE/service/lexikon/Functions/glossar.html?nn=103346&lv2=101094&lv3=101162">Heißer Tag</a></span> ist ein Tag, an dem das Maximum der Lufttemperatur mindestens 30,0 °C beträgt.
                </li>
              </ol>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <jhi-card [name]="'Eistage ' + dwdClimateData.years[dwdClimateData.years.length - 1]" unit="" [icon]="'snowflake'" [valueNumberFormat]="'1.1-1'"
                  [backgroundColor]="CLIMATE_COLORS.ICE_DAYS" [upIsBad]="false"
                  [comparisonText]="'Vergleich zu ' + (lastYearValueIce | number : '1.1-1') + ' Tagen in ' + dwdClimateData.years[0]"
                  [currentValue]="firstYearValueIce" [previousValue]="lastYearValueIce"></jhi-card>
            </div>
            <div class="col-md-6">
              <jhi-card [name]="'Frosttage ' + dwdClimateData.years[dwdClimateData.years.length - 1]" unit="" [icon]="'icicles'" [valueNumberFormat]="'1.1-1'"
                  [backgroundColor]="CLIMATE_COLORS.FROST_DAYS" [upIsBad]="false"
                  [comparisonText]="'Vergleich zu ' + (lastYearValueFrost | number : '1.1-1') + ' Tagen in ' + dwdClimateData.years[0]"
                  [currentValue]="firstYearValueFrost" [previousValue]="lastYearValueFrost"></jhi-card>
            </div>
            <div class="col-md-6">
              <jhi-card [name]="'Sommertage ' + dwdClimateData.years[dwdClimateData.years.length - 1]" unit="" [icon]="'umbrella-beach'" [valueNumberFormat]="'1.1-1'"
                  [backgroundColor]="CLIMATE_COLORS.SUMMER_DAYS" [upIsBad]="true"
                  [comparisonText]="'Vergleich zu ' + (lastYearValueSummer | number : '1.1-1') + ' Tagen in ' + dwdClimateData.years[0]"
                  [currentValue]="firstYearValueSummer" [previousValue]="lastYearValueSummer"></jhi-card>
            </div>
            <div class="col-md-6">
              <jhi-card [name]="'Heiße Tage ' + dwdClimateData.years[dwdClimateData.years.length - 1]" unit="" [icon]="'fire'" [valueNumberFormat]="'1.1-1'"
                  [backgroundColor]="CLIMATE_COLORS.HOT_DAYS" [upIsBad]="true"
                  [comparisonText]="'Vergleich zu ' + (lastYearValueHeat | number : '1.1-1') + ' Tagen in ' + dwdClimateData.years[0]"
                  [currentValue]="firstYearValueHeat" [previousValue]="lastYearValueHeat"></jhi-card>
            </div>
          </div>
          <p>Im folgenden Diagramm sind diese vier Werte für {{ STATE_CONFIG.label }} im 30-Jahres-Mittel dargestellt.</p>
          <div class="card p-3">
            <h5 id="anzahl-der-tage" class="text-center">Anzahl der Eis, Frost, Sommer und Heißen Tage im Jahr</h5>
            <canvas baseChart height="400" [data]="getDayChangesData()" [options]="getDayChangesOptions()" [type]="'line'">
            </canvas>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
          </div>
          <div class="alert alert-info" role="alert">
            <i class="bi bi-info-circle"></i> Mit einem Klick auf die durchgestrichenen Elemente der Legende lassen sich diese Werte auch im Graph anzeigen.
          </div>
        </div>
        <div id="global-data" class="container row">
          <h1 class="mt-3"><fa-icon [icon]="'earth-europe'"></fa-icon> Globale Veränderungen</h1>
          <div class="row">
            <div class="col-md-12">
              2023 war das <a href="https://www.tagesschau.de/ausland/klimawandel-hitze-extremwetter-100.html">wärmste Jahr</a> seit über 125.000 Jahren. 
              Gemessen an der Referenzperiode der vorindustriellen Zeit (1850-1900) wurde das im Pariser Abkommen definierte 1,5°C Ziel 2023 bereits in einigen Monaten überschritten. 
              Die folgenden beiden Kacheln versuchen zu verdeutlichen, wie oft bereits heute die Pariser Ziele an einzelnen Tagen überschritten werden.
              Wichtig zu betonen ist aber, dass es sich bei diesen festgelegten Grenzwerten um Zielwerte für die <b>Durchschnittstemperatur des Planeten über einen Zeitraum von dreißig Jahren</b> (und nicht einzelne Tage) handelt, der üblicherweise zur Definition des Klimas verwendet wird.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <jhi-card name="Tage über 1.5°C ({{parisData.currentYear}})" unit="" [icon]="'temperature-half'" [valueNumberFormat]="'1.0'"
                        [backgroundColor]="CHARTJS_COLORS[0]"
                        [comparisonText]="'Im Vergleich zum Vorjahr: ' + parisData.paris15Last + 'd'"
                        [currentValue]="parisData.paris15Curr" [previousValue]="parisData.paris15Last"></jhi-card>
            </div>
            <div class="col-md-6">
              <jhi-card name="Tage über 2.0°C ({{parisData.currentYear}})" unit="" [icon]="'temperature-full'" [valueNumberFormat]="'1.0'"
                        [backgroundColor]="CHARTJS_COLORS[0]"
                        [comparisonText]="'Im Vergleich zum Vorjahr: ' + parisData.paris20Last + 'd'"
                        [currentValue]="parisData.paris20Curr" [previousValue]="parisData.paris20Last"></jhi-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Die Daten der Referenzperiode wurden durch das Erdbeobachtungsprogramm der Europäischen Union <a href="https://www.copernicus.eu/de/ueber-copernicus">Copernicus Programm</a> zur Verfügung gestellt und können <a href="{{ COPERNICUS_REF_TEMP.url}}">hier</a> herunterladen werden.
            </div>
          </div>
        </div>
        <div id="taegliche-temperatur" class="container row mt-3">
          <h2>Tägliche Temperatur</h2>
          <p>
            Die folgende Grafik zeigt die tägliche mittlere Oberflächenlufttemperatur (2m-Höhe) aus der <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels?tab=overview">ECMWF-Reanalyse Version 5 (ERA5)</a> für den Zeitraum von Januar 1940 bis heute. ERA5 ist ein hochmodernes numerisches Klima-/Wettermodell, das Oberflächen-, Radiosonden- und Satellitenbeobachtungen einbezieht, um den Zustand der Atmosphäre im Laufe der Zeit zu schätzen.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Tägliche Temperatur in °C (2m Höhe, 90°S - 90°N, 0 - 360°O)</h5>
            <canvas baseChart height="400" [data]="global2mAirTemperatureData" [options]="global2mAirTemperatureOptions" [type]="'line'">
            </canvas>
            <div class="row mt-3">
              <div class="col-md-3">
                <p class="fw-bold">Jahre auswählen:</p>
              </div>
              <div class="col-md-9">
                <ng-select
                  [items]="this.global2mAirTemperatureData.datasets"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  bindLabel="label"
                  bindValue="label"
                  (change)="handleGlobal2mAirTemperatureYearChange()"
                  [(ngModel)]="selectedYearGlobal2mAirTemperature">
                </ng-select>
              </div>
            </div>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://climatereanalyzer.org/clim/t2_daily/">Climate Reanalyzer - University of Maine</a></p>
          </div>
        </div>
        <div id="vergleich-paris" class="container row">
          <p>
            Aus den ERA5 Daten und den Referenztemperaturen für das vorindustrielle Zeitalter von 1850 bis 1900 lassen sich jetzt für jedes Jahr auf den Tag genau die Differenz ausrechnen. Bringt man noch die Grenzen des Pariser Klimaabkommens als horizontale Linien auf, kann man sehr gut die Häufigkeit der Übertretung dieser Grenzen ablesen.
          </p>
          <div class="card p-3">
            <h5 class="text-center">Differenz zum vorindustriellen Zeitalter</h5>
            <canvas baseChart height="400" [data]="diffPreIndustrialData" [options]="diffPreIndustrialOptions" [type]="'line'">
            </canvas>
            <div class="row mt-3">
              <div class="col-md-3">
                <p class="fw-bold">Jahre auswählen:</p>
              </div>
              <div class="col-md-9">
                <ng-select *ngIf="possibleYearsDiffPreIndustrial.length > 0 "
                  [items]="getPreIndustrialDatasets(global2mAirTemperatureData.datasets)"
                  [multiple]="true"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  bindLabel="label"
                  bindValue="label"
                  (change)="handleDiffPreIndustrial()"
                  [(ngModel)]="selectedYearDiffPreIndustrial">
                </ng-select>
              </div>
            </div>
            <hr>
            <p class="mt-0 mb-0 text-end">Quelle: <a href="https://climatereanalyzer.org/clim/t2_daily/">Climate Reanalyzer - University of Maine</a> und <a href="{{COPERNICUS_REF_TEMP.url}}">{{COPERNICUS_REF_TEMP.label}}</a> des Copernicus Programms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
