<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">{{ name }}</h5>
        <span class="h2 font-weight-bold mb-0">{{ currentValue | number: valueNumberFormat }} {{ unit }}</span>
      </div>
      <div class="col-auto">
        <div [ngStyle]="{ 'background-color' : backgroundColor }" class="icon icon-shape {{ iconBackgroundColorClass }} text-white rounded-circle shadow">
          <fa-icon [icon]="$any(icon)"></fa-icon>
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <span class="{{ textColor }} mr-2">
          <fa-icon [icon]="$any(getArrowIcon())"></fa-icon>
          <span *ngIf="isFinite(diff)">{{ diff  | number: valueNumberFormat }}%</span>
          <span *ngIf="!isFinite(diff)">∞ %</span>
      </span>
      <span class="text-nowrap"> {{ comparisonText }}</span>
    </p>
  </div>
</div>
