<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="row">
    <div class="col-xl-12">
      <div id="aktuelle-daten">
        <h1 class="mt-3"><fa-icon [icon]="'solar-panel'"></fa-icon> Erneuerbare Energien</h1>
        <p>
          Als Erneuerbare Energien oder regenerative Energien werden Energiequellen bezeichnet, die im menschlichen Zeithorizont für nachhaltige Energieversorgung praktisch unerschöpflich zur Verfügung stehen (Volker Quaschning: Regenerative Energiesysteme. Technologie – Berechnung – Simulation. 8. aktualisierte Auflage. München 2013, S. 34.) oder sich verhältnismäßig schnell erneuern.
        </p>
        <p>
          Mit Hilfe des Marktstammdatenregisters kann man sich einen guten Überblick des aktuellen Ausbaustands und
          der Ausbaugeschwindigkeit der Erneuerbaren Energien machen.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <ng-container *ngFor="let energySource of energySources">
        <div class="row col-xl-12">
          <h2 id="{{energySource.key}}"> {{ energySource.label }}</h2>
          <p *ngIf="energySource.data">
            Aktuell sind in {{ STATE_CONFIG.label }} mindestens
            {{ energySource.data.activeUnits.toLocaleString('de-DE') }} Anlagen mit
            einer Leistung von insgesamt {{ energySource.data.activeUnitsBruttoLeistung / 1000 | number: '1.1-1' }} MW in Betrieb.
            Dieses Jahr sind bereits {{ energySource.data.activeUnitsCurrentYear.toLocaleString('de-DE') }}
            Anlagen mit einer Leistung von {{ energySource.data.activeUnitsCurrentYearBruttoLeistung / 1000 | number: '1.1-1' }}
            MW in {{ STATE_CONFIG.label }} in Betrieb gegangen. Im Vorjahr sind es ingesamt
            {{ energySource.data.activeUnitsLastYear.toLocaleString('de-DE') }} Anlagen mit einer Leistung von
            {{ energySource.data.activeUnitsLastYearBruttoLeistung / 1000 | number: '1.1-1' }}
            MW gewesen, im Jahr davor {{ energySource.data.activeUnitsSecondLastYear.toLocaleString('de-DE') }} Anlagen mit einer Leistung von
            {{ energySource.data.activeUnitsSecondLastYearBruttoLeistung / 1000 | number: '1.1-1' }} MW.
            <span *ngIf="energySource.mastrKey === 'Speicher'">Die Pumpspeicherkraftwerk in Raschau-Markersbach fließen nicht mit in die Berechnung ein. Der Zubau an Speicherleistung im Wochendurchschnitt liegt bei:</span>
          </p>
          <p *ngIf="!energySource.data">Daten werden geladen. <fa-icon icon="sync" [spin]="true"></fa-icon></p>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let year of ['Current', 'Last', 'SecondLast']; let i = index">
            <div class="card">
              <div class="card-body" *ngIf="energySource.data">
                <h5 class="card-title">
                  Ø {{ ( (energySource.data["averageBruttoLeistungPerWeek" + year + "Year"] || 0) / 1000) | number : '1.1-2' }} MW
                </h5>
                <p class="card-text">Zubau pro Woche {{ today.getFullYear() - i }}</p>
              </div>
              <div class="card-body text-center" *ngIf="!energySource.data">
                <fa-icon icon="sync" [spin]="true"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="energySource.mastrKey === 'Speicher'">
          <p class="mb-0">Wöchentlicher Zubau an Speicherkapazität (MWh):</p>
          <div class="col-md-4" *ngFor="let year of ['Current', 'Last', 'SecondLast']; let i = index">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" *ngIf="energySource.data">
                  Ø {{ ( (energySource.data["averageCapacityPerWeek" + year + "Year"] || 0) / 1000) | number : '1.1-2' }} MWh
                </h5>
                <p class="card-text">Zubau pro Woche {{ today.getFullYear() - i }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 id="{{ energySource.key }}-neue-anlagen-leistung" class="text-center mt-2">{{ energySource.labelNewUnitsChart }}</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" bindLabel="value" bindValue="key" [(ngModel)]="energySource.selectedTimeUnit" (change)="getMastrStatisticsForIntervalForState(energySource)" [clearable]="false"></ng-select>
                </div>
              </div>
              <div class="row">
                <canvas baseChart height="400"
                        [data]="energySource.mastrChartData" [options]="mastrChartOptions" [type]="'bar'">
                </canvas>
              </div>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.marktstammdatenregister.de/MaStR">Marktstammdatenregister der Bundesnetzagentur</a>
                <span *ngIf="latestMastrUnit">
                  (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 id="{{ energySource.key }}-landkreise-und-kreisfreie-staedte" class="card-title text-center mt-2">
                  Installierte Leistung in kW an {{ energySource.label }} in Landkreisen und kreisfreien Städten
                </h5>
                <div class="row container">
                  <div class="col-md-12">
                    <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                        [selectedColors]="possibleColors[0]"
                                        [possibleColors]="possibleColors"
                                        [clustersCount]="7"
                                        [selectedClusterStatistic]="energySource.statistic"
                                        [possibleMapPropertyValues]="energySourcesStatistics"
                                        [attribution]="'chargingPowerMapAttribution'"
                                        [administrationUnits]="administrationUnits">
                    </jhi-choropleth-map>
                  </div>
                </div>
                <hr>
                <p class="mt-3 text-end mb-0">Quelle: <a href="https://www.marktstammdatenregister.de/MaStR">Marktstammdatenregister der Bundesnetzagentur</a>
                  <span *ngIf="latestMastrUnit">
                    (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="container">
        <div class="row col-xl-12">
          <h2 id="historische-daten" class="mt-3">Historische Daten</h2>
          <p>
            Die historischen Energiedaten informieren umfassend über die Energieversorgung in {{ STATE_CONFIG.label}}.
            Grundlage ist die Energiebilanz, in der das Aufkommen, die Umwandlung und die Verwendung von Energieträger in
            {{ STATE_CONFIG.label}} zeitraumbezogen und detailliert dargestellt werden. Sie wird nach einer im
            Länderarbeitskreis „Energiebilanzen“ abgestimmten Methodik erstellt und bildet aktuell die aktuellste
            öffentliche Quelle für erbrachte Arbeit von erneuerbaren Energien.
          </p>
          <div class="row">
            <div class="col">
              <jhi-card [currentValue]="sunValue" [previousValue]="sunValueLast" [comparisonText]="'Im Vergleich zum Vorjahr ' + (mostRecentYear - 1)" 
                name="Photovoltaik" unit="GWh" [icon]="'solar-panel'" iconBackgroundColorClass="bg-warning"></jhi-card>
              <jhi-card [currentValue]="windValue" [previousValue]="windValueLast" [comparisonText]="'Im Vergleich zum Vorjahr ' + (mostRecentYear - 1)" name="Windenergie" unit="GWh" [icon]="'wind'" iconBackgroundColorClass="bg-danger"></jhi-card>
            </div>
            <div class="col">
              <jhi-card [currentValue]="bioValue" [previousValue]="bioValueLast" [comparisonText]="'Im Vergleich zum Vorjahr ' + (mostRecentYear - 1)" name="Biomasse" unit="GWh" [icon]="'leaf'" iconBackgroundColorClass="bg-success"></jhi-card>
              <jhi-card [currentValue]="waterValue" [previousValue]="waterValueLast" [comparisonText]="'Im Vergleich zum Vorjahr ' + (mostRecentYear - 1)" name="Wasserkraft" unit="GWh" [icon]="'droplet'" iconBackgroundColorClass="bg-info"></jhi-card>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Der Anteil des Stromes aus erneuerbaren Energien am Stromverbrauch aus dem Netz der öffentlichen Versorgung
                betrug damit <span class="year"></span> in {{ STATE_CONFIG.label }} in {{ mostRecentYear }} {{ lastYearGrossContribution * 100 | number : "1.1-1" }} %.

                <ngb-progressbar class="m-4" type="dark" textType="white" [value]="lastYearGrossContribution * 100" [showValue]="true"></ngb-progressbar>

                Bei der Einspeisung von Strom aus Erneuerbaren Energien wurde {{ mostRecentYear }} gegenüber dem Jahr {{ mostRecentYear - 1 }} ein {{ getSumForYear("work", mostRecentYear - 1) - getSumForYear("work", mostRecentYear) >= 0 ? "Abstieg" : "Anstieg" }} von {{ ((getSumForYear("work", mostRecentYear) / getSumForYear("work", mostRecentYear - 1) * 100) - 100) | number: '1.1-1' }}% verzeichnet. Die eingespeiste Strommenge {{ getSumForYear("work", mostRecentYear - 1) - getSumForYear("work", mostRecentYear) >= 0 ? "sank" : "stieg" }} von {{ getSumForYear("work", mostRecentYear - 1) | number: '1.1-1' }} GWh auf {{ getSumForYear("work", mostRecentYear)  | number: '1.1-1'}} GWh.
              </p>
            </div>
          </div>
          <div class="container">
            <div class="col-md-12 row" *ngIf="workChartData.enabled">
              <div class="card p-3">
                <h5 id="beitrag-stromerzeugung" class="text-center">Beitrag der Erneuerbaren zur Stromerzeugung in GWh</h5>
                <canvas baseChart height="400"
                        [data]="workChartData" [options]="workChartOptions" [type]="'bar'">
                </canvas>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a href="{{ workChartData.source.url }}">{{ workChartData.source.label }}</a></p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-md-12 row" *ngIf="powerChartData.enabled">
              <div class="card p-3">
                <h5 id="installierte-leistung" class="text-center">Installierte Leistung in MW</h5>
                <canvas baseChart height="400"
                        [data]="powerChartData" [options]="powerChartOptions" [type]="'bar'">
                </canvas>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a href="{{ workChartData.source.url }}">{{ workChartData.source.label }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
