<div class="col-xl-12">
  <mgl-map
    [style]="mapOptions.options.tileUrl"
    [zoom]="[mapOptions.options.zoom]"
    [scrollZoom]="false"
    [center]="[mapOptions.options.center[1], mapOptions.options.center[0]]"
    [attributionControl]="false"
  >
    <mgl-control mglAttribution [customAttribution]="mapOptions.options.attribution"></mgl-control>
    <mgl-control mglNavigation position="top-right"></mgl-control>
    <mgl-geojson-source id="{{mapDivId}}-administration-units-source">
      <mgl-feature
        *ngFor="let element of administrationUnits"
        [geometry]="element.geometry!"
        [properties]="element.properties!"
      ></mgl-feature>
    </mgl-geojson-source>
    <mgl-layer
         id="{{mapDivId}}-administration-unit-area-layer"
         type="fill"
         source="{{mapDivId}}-administration-units-source"
         [paint]="{
            'fill-color': fillColors,
            'fill-opacity': transparency
          }"
         (layerClick)="onClick($event)"
         (layerMouseEnter)="cursorStyle = 'pointer'"
         (layerMouseLeave)="cursorStyle = ''"
    >
    </mgl-layer>
    <mgl-popup *ngIf="selectedLngLat" [lngLat]="selectedLngLat">
      <span *ngIf="selectedElement![selectedClusterStatistic.key!]">
        <span *ngIf="!selectedElement!.isLandkreis">
          <a class="link" [routerLink]="['/kommunen/', selectedElement!.ags, selectedElement!.name]">{{ selectedElement!.name }}</a>: {{selectedElement![selectedClusterStatistic.key!] | number : '1.0-3'}} {{selectedElement![selectedClusterStatistic.key! + 'Unit']}}
        </span>
        <!-- landkreise dont have detailed pages, yet -->
        <span *ngIf="selectedElement!.isLandkreis">
          {{ selectedElement!.name }}: {{selectedElement![selectedClusterStatistic.key!] | number : '1.0-3'}} {{selectedElement![selectedClusterStatistic.key! + 'Unit']}}
        </span>
      </span>
      <span *ngIf="!selectedElement![selectedClusterStatistic.key!]">
        <a class="link" [routerLink]="['/kommunen/', selectedElement!.ags, selectedElement!.name]">{{ selectedElement!.name }}</a>: keine Daten vorhanden
      </span>
    </mgl-popup>
    <mgl-layer
      id="{{mapDivId}}-administration-unit-border-layer"
      type="line"
      source="{{mapDivId}}-administration-units-source"
      [paint]="{
          'line-color': '#000',
          'line-width': 2
         }">
    </mgl-layer>
    <mgl-layer
      id="{{mapDivId}}-administration-units-layer"
      type="symbol"
      source="{{mapDivId}}-administration-units-source"
      [layout]="{
        'text-field':  ['format', ['get', 'name'], '\n', ['number-format', ['get', selectedClusterStatistic.key!], { 'locale': 'de', 'min-fraction-digits': 0, 'max-fraction-digits': 3 } ], ' ', ['get', selectedClusterStatistic.key! + 'Unit' ]],
        'text-size': 14,
        'text-justify': 'auto',
        'visibility': showText ? 'visible' : 'none'
      }"
      [paint]="{
        'text-color': '#fff'
      }"
    >
    </mgl-layer>
  </mgl-map>
</div>
<div class="col-xl-12 mt-3">
  <ul class="nav nav-pills mb-3" id="{{mapDivId}}-pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="{{mapDivId}}-pills-statistic-tab" data-bs-toggle="pill" [attr.data-bs-target]="'#' + mapDivId + '-pills-statistic'" type="button" role="tab" aria-controls="pills-statistic" aria-selected="true">Statistik</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="{{mapDivId}}-pills-legend-tab" data-bs-toggle="pill" [attr.data-bs-target]="'#' + mapDivId + '-pills-legend'" type="button" role="tab" aria-controls="pills-legend" aria-selected="false">Legende</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="{{mapDivId}}-pills-help-tab" data-bs-toggle="pill" [attr.data-bs-target]="'#' + mapDivId + '-pills-help'" type="button" role="tab" aria-controls="pills-help" aria-selected="false">Hilfe</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="{{mapDivId}}-pills-data-tab" data-bs-toggle="pill" [attr.data-bs-target]="'#' + mapDivId + '-pills-data'" type="button" role="tab" aria-controls="pills-data" aria-selected="false">Daten</button>
    </li>
  </ul>
  <div class="tab-content" id="{{mapDivId}}-pills-tabContent">
    <div class="tab-pane fade show active" id="{{mapDivId}}-pills-statistic" role="tabpanel" aria-labelledby="pills-statistic-tab" tabindex="0">
      <div class="mb-3">
        <div class="row">
          <div class="col-md-6">
            <label for="{{mapDivId}}-possibleMapPropertyValues" class="form-label">Ausgewählte Statistik</label>
            <ng-select id="{{mapDivId}}-possibleMapPropertyValues" [items]="possibleMapPropertyValues" [clearable]="false" bindLabel="name"
                       [(ngModel)]="selectedClusterStatistic" (change)="setFillColors(selectedClusterStatistic, selectedColors, clustersCount)">
            </ng-select>
            <div id="{{mapDivId}}-possibleMapPropertyValuesHelp" class="form-text">Wählen Sie eine der verfügbaren Statistiken aus.</div>
          </div>
          <div class="col-md-6">
            <label for="{{mapDivId}}-possibleClustersCount" class="form-label">Anzahl der Farben</label>
            <ng-select id="{{mapDivId}}-possibleClustersCount" [items]="possibleClustersCount" [clearable]="false"
                       [(ngModel)]="clustersCount" (change)="setFillColors(selectedClusterStatistic, selectedColors, clustersCount)">
            </ng-select>
            <div id="{{mapDivId}}-possibleClustersCountHelp" class="form-text">Gemeinden werden in {{clustersCount}} Cluster aufgeteilt.</div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="{{mapDivId}}-possibleColors" class="form-label">Farbverlauf</label>
            <ng-select [items]="possibleColors" [clearable]="false" [(ngModel)]="selectedColors" [compareWith]="compareFn" (change)="setFillColors(selectedClusterStatistic, selectedColors, clustersCount)">
              <ng-template ng-label-tmp let-item="item">
                <div class="row ms-0 me-0">
                  <div *ngFor="let color of item" class="box col-md-1" [style.background]="color">
                  </div>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div class="row">
                  <div *ngFor="let color of item" class="box" [style.background]="color">
                  </div>
                </div>
              </ng-template>
            </ng-select>
            <div id="{{mapDivId}}-possibleColorsHelp" class="form-text">Wählen Sie einen passenden Farbverlauf für die Darstellung.</div>
          </div>
          <div class="col-md-3">
            <label for="{{mapDivId}}-layer-transparency" class="form-label mb-3">Transparenz</label>
            <p-slider [min]="0" [max]="1" [step]="0.01" [(ngModel)]="transparency"></p-slider>
            <div id="{{mapDivId}}-layer-transparency-help" class="form-text mt-3">Mit dem Regel kann die Transparenz der Ansicht angepasst werden.</div>
          </div>
          <div class="col-md-3">
            <label for="{{mapDivId}}-layer-labels" class="form-label">Beschriftung</label>
            <div>
              <p-checkbox [(ngModel)]="showText" [binary]="true" inputId="binary"></p-checkbox>
              <div id="{{mapDivId}}-layer-text-help" class="form-text mt-3">Text auf der Karte deaktivieren.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="{{mapDivId}}-pills-legend" role="tabpanel" aria-labelledby="pills-legend-tab" tabindex="1">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Farbe</th>
          <th scope="col">Leistung ({{selectedClusterStatistic.name}})</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of legend; index as i">
          <td>
            <div class="box" [style.background]="element.color"></div>
          </td>
          <td><span *ngIf="i == legend.length - 1">&#62;</span>{{ element.stop | number }}
            <span *ngIf="i < legend.length - 1">- {{ legend[i + 1].stop | number }}</span> {{ element.unit}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="{{mapDivId}}-pills-help" role="tabpanel" aria-labelledby="pills-help-tab" tabindex="2">
      <p>Das Einteilen der Gemeinden in Farben (bzw. Cluster) erfolgt mit Hilfe des ckmeans-Algorithmus. Ziel des Verfahrens ist es
        die Unterschiede innerhalb jeder Gruppe (bzw. Cluster/Farbe) so klein wie möglich zu halten.</p>
      <p>Sind Gemeinden weiß markiert, existieren für sie bisher keine Daten.</p>
    </div>
    <div class="tab-pane fade" id="{{mapDivId}}-pills-data" role="tabpanel" aria-labelledby="pills-data-tab" tabindex="3">
      <p-table #dataTable [value]="administrationUnits" (sortFunction)="customSort($event)"
               [customSort]="true"
               [paginator]="true"
               [rows]="10"
               [showCurrentPageReport]="true"
               currentPageReportTemplate="{first}-{last} von {totalRecords}"
               [rowsPerPageOptions]="[5,10,25]"
               [globalFilterFields]="['geografischernameGen', 'Gemeindeschluessel']">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:60%" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th style="width:40%" pSortableColumn="value">Wert <p-sortIcon field="value"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unit>
          <tr>
            <td><a class="link" [routerLink]="['/kommunen/', unit.gemeindeschluesselaufgefuellt, unit.geografischernameGen]">{{ unit.nbd ? unit.bezeichnung + " " + unit.geografischernameGen : unit.geografischernameGen }}</a></td>
            <td>{{getStatisticByKey(unit, selectedClusterStatistic.key!)?.value! | number : digitsInfo}}
              {{getStatisticByKey(unit, selectedClusterStatistic.key!)?.unit!}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td>Summe</td>
            <td>{{ getSumOfSelectedValue() | number : digitsInfo }} {{getStatisticByKey(this.administrationUnits[0], selectedClusterStatistic.key!)?.unit!}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="input-group input-group">
                        <span class="input-group-text" id="inputGroup-sizing-storage">
                          <fa-icon [icon]="'search'"></fa-icon>
                        </span>
            <input type="text" class="form-control" aria-label="Gemeindesuche" aria-describedby="inputGroup-sizing"
                   (input)="applyFilterGlobal(dataTable, $event, 'contains')" placeholder="Suchwort eingeben">
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
