mgl-map {
  height: 500px;
  width: 100%;

  // <!-- TODO this is not working -->
  .maplibregl-popup-close-button {
    margin-right: 5px;
  }
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  clear: both;
}

