<div class="card p-3">
    <div class="row">
        <div class="col-md-10 mt-2">
            <h5 id="{{ id ? id : '' }}">Zeitliche Entwicklung der
                <span jhiTranslate="{{ 'energytransitiondashboardApp.mastrUnit.property.' + property }}">energy-source</span> von
                <span jhiTranslate="{{ 'energytransitiondashboardApp.mastrUnit.energySource.' + energySource }}">energy-source</span>
                ({{ unit ? unit : 'kW' }})</h5>
        </div>
        <div class="col-md-2">
            <ng-select [items]="timeUnits" [(ngModel)]="selectedTimeUnit" (change)="update()" [clearable]="false"></ng-select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <canvas *ngIf="chartData" baseChart height="{{ height }}"
                    [data]="chartData" [options]="chartConfig" [type]="chartType">
            </canvas>
            <div *ngIf="!chartData">
                <div class="container text-center">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col mt-3" >
                        <fa-icon [size]="'2x'" [spin]="true" icon="spinner"></fa-icon><br>
                        <p class="mt-3">
                            Daten werden geladen... 
                        </p>
                      </div>
                      <div class="col"></div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-end mt-0 mb-0">Quelle{{ sources.length === 1 ? "" : "n"}}:
        <ng-container *ngFor="let source of sources; last as isLast">
            <a href="{{ source.url }}" target="_blank">{{ source.label }}</a><span *ngIf="!isLast">, </span>
        </ng-container>
        <span *ngIf="latestMastrUnit">
            (letztes Update: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
        </span>
    </p>
</div>