<main class="bd-main order-1">
  <jhi-on-this-page [entries]="entries"></jhi-on-this-page>
  <div class="row">
    <div class="col-xl-12">
      <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="top" class="container">
          <h1 class="mt-3"><fa-icon [icon]="'tree-city'"></fa-icon> Kommunen</h1>
          <p class="mt-2">
            Der Vergleich der Fortschritte bei der Inbetriebnahme von Anlagen für Erneuerbare Energien zwischen Kommunen ist wichtig, weil er den Erfolg und die Effektivität im Kontext verschiedener Bedingungen aufzeigt. Durch den Vergleich können erfolgreiche Ansätze schnell identifiziert und auf andere Gemeinden übertragen werden. Kommunen sollten von den Erfahrungen anderer lernen und ihre Strategien und Maßnahmen entsprechend anpassen, um ihre eigenen Ziele zu erreichen.
          </p>
          <p>Inspiriert wurde diese Auswertung vom <a href="https://wattbewerb.de">Wattbewerb</a>. Wattbewerb ist ein Wettbewerb für Städte und Gemeinden in Deutschland, bei dem es um den beschleunigten Ausbau von Photovoltaik geht. Ziel des Wattbewerbs ist es, die Energiewende in Deutschland durch exponentiellen Ausbau von Photovoltaik zu beschleunigen.</p>

          <div id="photovoltaik">
            <h2>Photovoltaik: Zubau und Bestand in {{ STATE_CONFIG.label }}</h2>
            <p>Mit Photovoltaik kann so kostengünstig Strom produziert werden, wie mit keiner anderen Technologie. Sie bildet
              damit einen wichtigen Pfeiler der Energiewende. Wie der aktuelle Einsatz von Photovoltaikanlagen jeder Größe in
              {{ STATE_CONFIG.label }} insgesamt und der Zubau dieses Jahr im Speziellen aussieht, ist in der folgenden Tabelle dargestellt:</p>
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h5 class="card-title mt-2 mb-4">
                          Photovoltaik in {{ STATE_CONFIG.label }}s Gemeinden
                        </h5>
                      </div>
                      <div class="col-md-4">
                        <ng-select [items]="communitySizes" [(ngModel)]="selectedCommunitySizeForSun" [clearable]="false"></ng-select>
                      </div>
                    </div>
                    <p-table #sunTable [value]="administrationUnits" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="400px" 
                             (sortFunction)="customSort($event)" [customSort]="true" sortField="Solare Strahlungsenergie per Inhabitant" [sortOrder]="-1"
                             [globalFilterFields]="['geografischernameGen', 'gemeindeschluesselaufgefuellt']">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>#</th>
                          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                          <th pSortableColumn="population_total">Einwohnende<p-sortIcon field="population_total"></p-sortIcon></th>
                          <th pSortableColumn="Solare Strahlungsenergie_sum">Bruttoleistung MW<p-sortIcon field="Solare Strahlungsenergie_sum"></p-sortIcon></th>
                          <th pSortableColumn="Solare Strahlungsenergie per Inhabitant">kW / Einw. <p-sortIcon field="Solare Strahlungsenergie per Inhabitant"></p-sortIcon></th>
                          <th pSortableColumn="Solare Strahlungsenergie per Inhabitant this year">Zubau kW / 1000 Einw. {{ currentDate | date : 'yyyy' }}<p-sortIcon field="Solare Strahlungsenergie per Inhabitant this year"></p-sortIcon></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-adminUnit let-i="rowIndex">
                        <tr *ngIf="filterCommunitySize(adminUnit)">
                          <td>{{ getRank(sunTable, 'sunTable', adminUnit) }}</td>
                          <td><a class="link" [routerLink]="['/kommunen/', adminUnit.gemeindeschluesselaufgefuellt, getAdministrationUnitName(adminUnit)]">{{getAdministrationUnitName(adminUnit)}}</a></td>
                          <td>{{ getAdministrationUnitPopulation(adminUnit) | number }}</td>
                          <td>{{ getAdministrationUnitSolarPower(adminUnit) / 1000 | number:'1.1-1' }}</td>
                          <td>{{ getAdministrationUnitSolarPowerPerInhabitants(adminUnit) | number:'1.1-1' }}</td>
                          <td>{{ getAdministrationUnitSolarPowerPerInhabitantsThisYear(adminUnit) | number:'1.1-1'  }}</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="caption">
                        <div class="input-group input-group">
                        <span class="input-group-text" id="inputGroup-sizing-sun">
                          <fa-icon [icon]="'search'"></fa-icon>
                        </span>
                          <input type="text" class="form-control" aria-label="Gemeindesuche" aria-describedby="inputGroup-sizing"
                                 (input)="applyFilterGlobal(sunTable, $event, 'contains')" placeholder="Gemeinde suchen">
                        </div>
                      </ng-template>
                    </p-table>
                    <div class="container text-center mt-4">
                      <span *ngIf="administrationUnits.length === 0">
                        <fa-icon icon="sync" [spin]="true"></fa-icon> Daten werden geladen.
                      </span>
                    </div>
                    <div class="alert alert-secondary mt-4" role="alert">
                      Die Spalte „#” zeigt den Rang der Gemeinde im Vergleich zu allen anderen für die jeweils ausgewählte Spalte an.
                    </div>
                    <hr>
                    <p class="text-end mt-3 mb-0">
                      Quelle: <a href="{{MASTR.url}}">{{MASTR.label}}</a><span *ngIf="latestMastrUnit">
                        (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h5 class="card-title mt-2 mb-4">
                          Kartenansicht der Photovoltaik in {{ STATE_CONFIG.label }}s Gemeinden
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="container text-center mt-4">
                          <span *ngIf="administrationUnits.length === 0">
                            <fa-icon icon="sync" [spin]="true"></fa-icon> Daten werden geladen.
                          </span>
                        </div>
                        <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                           [selectedColors]="possibleColors[0]"
                                           [possibleColors]="possibleColors"
                                           [clustersCount]="7"
                                           [selectedClusterStatistic]="pvMapPropertyValues[2]"
                                           [possibleMapPropertyValues]="pvMapPropertyValues"
                                           [attribution]="communityMapAttribution"
                                           [administrationUnits]="administrationUnits">
                        </jhi-choropleth-map>
                      </div>
                    </div>
                    <hr>
                    <p class="text-end mt-3 mb-0">
                      Quelle: <a href="{{MASTR.url}}">{{MASTR.label}}</a><span *ngIf="latestMastrUnit">
                        (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="stromspeicher">
            <h2>Batteriespeicher: Zubau und Bestand in {{ STATE_CONFIG.label }}</h2>
            <p>
              Batteriespeicher können überschüssigem Solarstrom speichern. Sie senken damit die Abhängigkeit von traditionellen
              Stromversorgungsquellen und fördern den Einsatz erneuerbarer Energien. Wie der aktuelle Einsatz von Speichern in
              {{ STATE_CONFIG.label }} insgesamt und der Zubau dieses Jahr im Speziellen aussieht, ist in der folgenden Tabelle dargestellt:
            </p>
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h5 class="card-title mt-2 mb-4">
                          Stromspeicher in {{ STATE_CONFIG.label }}s Gemeinden
                        </h5>
                      </div>
                      <div class="col-md-4">
                        <ng-select [items]="communitySizes" [(ngModel)]="selectedCommunitySizeStorage" [clearable]="false"></ng-select>
                      </div>
                    </div>
                    <p-table #storageTable [value]="administrationUnits" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="400px" 
                             (sortFunction)="customSort($event)" [customSort]="true" sortField="Speicher per Inhabitant" [sortOrder]="-1"
                             [globalFilterFields]="['geografischernameGen', 'gemeindeschluesselaufgefuellt']">
                        <ng-template pTemplate="header">
                        <tr>
                          <th>#</th>
                          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                          <th pSortableColumn="population_total">Einwohnende<p-sortIcon field="population_total"></p-sortIcon></th>
                          <th pSortableColumn="Speicher_sum">Bruttoleistung MW<p-sortIcon field="Speicher_sum"></p-sortIcon></th>
                          <th pSortableColumn="Speicher per Inhabitant">kW / Einw. <p-sortIcon field="Speicher per Inhabitant"></p-sortIcon></th>
                          <th pSortableColumn="Speicher per Inhabitant this year">Zubau kW / 1000 Einw. {{ currentDate | date : 'yyyy' }}<p-sortIcon field="Speicher per Inhabitant this year"></p-sortIcon></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-adminUnit let-i="rowIndex">
                        <tr *ngIf="filterCommunitySize(adminUnit)">
                          <td>{{ getRank(storageTable, 'storageTable', adminUnit) }}</td>
                          <td><a class="link" [routerLink]="['/kommunen/', adminUnit.gemeindeschluesselaufgefuellt, getAdministrationUnitName(adminUnit)]">{{getAdministrationUnitName(adminUnit)}}</a></td>
                          <td>{{ getAdministrationUnitPopulation(adminUnit) | number }}</td>
                          <td>{{ getAdministrationUnitSpeicher(adminUnit) / 1000 | number:'1.1-1' }}</td>
                          <td>{{ getAdministrationUnitSpeicherPerInhabitants(adminUnit) | number:'1.1-1' }}</td>
                          <td>{{ getAdministrationUnitSpeicherPerInhabitantsThisYear(adminUnit) | number:'1.1-1'  }}</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="caption">
                        <div class="input-group input-group">
                        <span class="input-group-text" id="inputGroup-sizing-storage">
                          <fa-icon [icon]="'search'"></fa-icon>
                        </span>
                          <input type="text" class="form-control" aria-label="Gemeindesuche" aria-describedby="inputGroup-sizing"
                                 (input)="applyFilterGlobal(storageTable, $event, 'contains')" placeholder="Gemeinde suchen">
                        </div>
                      </ng-template>
                    </p-table>
                    <div class="container text-center mt-4">
                      <span *ngIf="administrationUnits.length === 0">
                        <fa-icon icon="sync" [spin]="true"></fa-icon> Daten werden geladen.
                      </span>
                    </div>
                    <div class="alert alert-secondary mt-4" role="alert">
                      Die Spalte „#” zeigt den Rang der Gemeinde im Vergleich zu allen anderen für die jeweils ausgewählte Spalte an.
                    </div>
                    <hr>
                    <p class="text-end mt-3 mb-0">
                      Quelle: <a href="{{MASTR.url}}">{{MASTR.label}}</a><span *ngIf="latestMastrUnit">
                        (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h5 class="card-title mt-2 mb-4">
                          Kartenansicht der Batteriespeicher in {{ STATE_CONFIG.label }}s Gemeinden
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="container text-center mt-4">
                          <span *ngIf="administrationUnits.length === 0">
                            <fa-icon icon="sync" [spin]="true"></fa-icon> Daten werden geladen.
                          </span>
                        </div>
                        <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                           [possibleColors]="possibleColors"
                                           [selectedColors]="possibleColors[0]"
                                           [clustersCount]="7"
                                           [selectedClusterStatistic]="batteryMapPropertyValues[0]"
                                           [possibleMapPropertyValues]="batteryMapPropertyValues"
                                           [attribution]="communityMapAttribution"
                                           [prefix]="'Storage'"
                                           [administrationUnits]="administrationUnits">
                        </jhi-choropleth-map>
                      </div>
                    </div>
                    <hr>
                    <p class="text-end mt-3 mb-0">
                      Quelle: <a href="{{MASTR.url}}">{{MASTR.label}}</a><span *ngIf="latestMastrUnit">
                        (Anlagen bis: {{ latestMastrUnit!.datumLetzteAktualisierung | formatMediumDate }})
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="ladesaeulen">
            <h2>Ladesäulen: Zubau und Bestand in {{ STATE_CONFIG.label }}</h2>
            <p class="mt-3">
              In einem zu großen Teilen elektrischen Mobilitätssystem, ist es wichtig, dass überall Lademöglichkeiten für E-Fahrzeuge vorhanden sind.
              Wie die aktuelle Verfügbarkeit von öffentlichen Ladesäulen in {{ STATE_CONFIG.label }} insgesamt aussieht, ist auf der folgenden karte dargestellt:
            </p>
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h5 class="card-title mt-2 mb-4">
                          Kartenansicht der Ladesäulen in {{ STATE_CONFIG.label }}s Gemeinden
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="container text-center mt-4">
                          <span *ngIf="administrationUnits.length === 0">
                            <fa-icon icon="sync" [spin]="true"></fa-icon> Daten werden geladen.
                          </span>
                        </div>
                        <jhi-choropleth-map *ngIf="administrationUnits.length > 0"
                                            [selectedColors]="possibleColors[0]"
                                            [possibleColors]="possibleColors"
                                            [clustersCount]="7"
                                            [digitsInfo]="'1.0-4'"
                                            [selectedClusterStatistic]="chargingStationStatistics[3]"
                                            [possibleMapPropertyValues]="chargingStationStatistics"
                                            [attribution]="eMobilitycommunityMapAttribution"
                                            [administrationUnits]="administrationUnits">
                        </jhi-choropleth-map>
                      </div>
                    </div>
                    <hr>
                    <p class="text-end mt-3 mb-0">
                      Quelle: <a href="{{ALL_SOURCES.BNETZA.url}}">{{ALL_SOURCES.BNETZA.label}}</a>
                      <span *ngIf="latestChargingStation">
                          (neueste Ladesäule: {{ latestChargingStation!.inbetriebnahmeDatum | formatMediumDate }})
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


